{% extends "base.html" %}

{% block content %}
<div class="error-message">
    {{ message }}
</div>

<div><br/>Something happened on the client side. If you have any clues or logs, please get in touch so we can try fixing this</div>
<a href="{{ url_for('main.index') }}">Home</a>
{% endblock %}
