{% extends "base.html" %}
{% block content %}
<h1>Edit Profile</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} <br/>
            {{ form.username(size=32) }} 
            {% for error in form.username.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.bio.label }} <br/>
            {{ form.bio(size=64) }}
            {% for error in form.bio.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
