h2 {
    margin-top: 1rem;
}

table {
    border-collapse: collapse;
    width: 99%;
}

.seasons {
    width: 99%;
}

.seasons thead {
    border-bottom: 1px solid black;
}

.details {
    margin: 1rem;
}

.details thead {
    border-bottom: 1px solid black;
}

.contract {
    background-color: #E8E8E8;
}

.buyout-seasons {
    background-color: #E8E8E8;
    padding: 0.25rem;
    margin: 0.25rem;
}

.look-at-me {
    color: white;
    background-color: black;
}

.section {
    margin-top: 1rem;
}

/*
td {
    border: 1px solid black;
}
*/

.no-border td {
    border: none;
}

form, .adjacent {
    display: flex;
}

select {
    width: 20rem;
}

.form-question {
    width: 20rem;
    margin: 0.5rem;
}

input[type="submit"] {
    margin: 2px;
    padding: 2px;
}

@media (max-width: 1200px) {
    form {
        flex-direction: column;
    }

    .adjacent > .form-question {
        width: 50%;
    }

    select {
        width: 100%;
    }

    strong:after {
        content:"\000A";
        white-space: pre;
    }

    .buyout-seasons td:nth-child(3),
    .buyout-seasons td:nth-child(4),
    .buyout-seasons td:nth-child(5),
    .buyout-seasons td:nth-child(6),
    .contracted td:nth-child(2),
    .contracted td:nth-child(3),
    .contracted td:nth-child(5) {
        display: none;
    }
}
