#show-collapsed-toggle {
    display: inline-block;
    background: #ccc;
    border-radius: 8px;
    width: 32px;
    height: 16px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

#show-collapsed-toggle:before, #show-collapsed-toggle:after {
    content: "";
}

#show-collapsed-label:hover #show-collapsed-toggle:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

#show-collapsed-columns:checked + #show-collapsed-label #show-collapsed-toggle {
  background: #56c080;
}

#show-collapsed-columns:checked + #show-collapsed-label #show-collapsed-toggle:before {
  left: 18px;
}

#show-collapsed-toggle:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.25s;
}

#show-collapsed-columns,
#show-collapsed-label {
    display: none;
    cursor: pointer;
}

@media (max-width: 1430px) {
    #show-collapsed-label {
        display: inline-block;
        text-align: right;
        padding-right: 1.5rem;
    }

    #show-collapsed-columns:checked ~ .page td {
        display: table-cell;
        padding-left: 1rem;
    }

    #show-collapsed-columns:checked ~ .page .scrollable-table {
        overflow-x: auto;
        width: 100%;
        height: fit-content;
    }

    #show-collapsed-columns:checked ~ .page .scrollable-table table {
        width: 100%;
        white-space: nowrap;
    }
}
