form {
    display: flex;
    flex-direction: row;
}

table tbody {
    width: 100%;
}

form ul {
    list-style: none;
    padding-left: 1rem;
}

ul td {
    padding-left: 0.5rem;
}

td {
    max-width: 100%;
}

input[id$='_clause_limits'] {
    width: 100%;
}

select {
    min-width: 5rem;
}

#submit {
    margin-top: 0.25rem;
}

.biographical, .hockey-data {
    display: flex;
    flex-wrap: wrap;
}

.hockey-data div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.notes {
    padding: 1rem;
}

.contract-data {
    width: fit-content;
    height: fit-content;
}

.contract-data td {
    padding-right:  0.5rem;
}

.contract-year {
    display: none;
}

#first {
    display: block;
}

.contract-year-data {
    display: flex;
}

#person {
    width: 16rem;
}

input#entry_level:checked ~ #slide {
    display: block;
}

#slide {
    display: none;
}

#aliases {
    margin-bottom: 0.5rem;
    min-width: 10rem;
}

#new-alias {
    margin-bottom: 0.25rem;
}

@media (max-width: 1084px) {
    form {
        flex-direction: column;
    }

    form table {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    form ul tr {
        display: flex;
        flex-direction: column;
    }
}
