table {
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

tr {
    height: 1.5rem;
}

.team {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.logo {
    margin-right: 0.5rem;
}

@media (max-width: 1000px) {
    td:nth-child(4) {
        display: none;
    }
}

@media (max-width: 750px) {
    td:nth-child(3) {
        display: none;
    }
}

@media (max-width: 600px) {
    td:nth-child(2) {
        display: none;
    }
}
