/*
 * Tab source: Michał Pawełczyk, with edits
 * https://codepen.io/MPDoctor/pen/mpJdYe
 */
.tab-menu {
    display: flex;
    flex-direction: row;
}

.tab {
    display: none;
}

input[type="radio"] {
    opacity: 0;
    float: right;
}

.tab-menu label {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.25rem;
    cursor: pointer;
}

.tabs [type="radio"]:nth-of-type(1):checked ~ .tab-menu label:nth-of-type(1),
.tabs [type="radio"]:nth-of-type(2):checked ~ .tab-menu label:nth-of-type(2) {
    background-color: #E8E8E8;
}

/*
 * Offset by 1 because .tab-menu is also a div.
 * Didn't want to deal with making a list look like a flexbox
 */
.tabs [type="radio"]:nth-of-type(1):checked ~ .tab:nth-of-type(2),
.tabs [type="radio"]:nth-of-type(2):checked ~ .tab:nth-of-type(3) {
    display: block;
}

.tab-menu label:hover,
.tabs [type="radio"]:nth-of-type(1):checked:focus ~ .tab-menu label:nth-of-type(1), 
.tabs [type="radio"]:nth-of-type(2):checked:focus ~ .tab-menu label:nth-of-type(2) {
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
}

.tabs p {
    display: none;
    position: relative;
}

.tabs [type="radio"]:focus ~ p {
    display: block;
    float: inline-end;
    color: red;
}

td a {
    display: flex;
    flex-direction: row;
}

tbody td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.team-logo {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.space-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space-items .item {
    width: 48%;
}

td a {
    margin-left: 1rem;
}

@media (max-width: 1200px) {
    #cap-breakdown td:nth-child(4),
    #cap-breakdown td:nth-child(5) {
        display: none;
    }

    #signings td:nth-child(4), 
    #signings td:nth-child(3) {
        display: none;
    }

    #free-agents td:nth-child(3),
    #free-agents td:nth-child(4) {
        display: none;
    }

    .space-items {
        flex-direction: column;
    }

    .space-items .item {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1000px) {
    #cap-breakdown td:nth-child(6) {
        display: none;
    }
}
