dialog img,
dialog object {
    max-width: 30rem;
    max-height: 30rem;
}

dialog,
dialog * {
    margin-left: auto;
    margin-right: auto;
}

.display img,
.display object {
    max-width: 15rem;
    max-height: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.highlighted {
    background-color: #E8E8E8;
}

.display {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.display div {
    margin-left: auto;
    margin-right: auto;
}

.logo-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.seasons {
    height: 3rem;
    width: fit-content;
}

.row {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    height: fit-content;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

#timeline {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 95%;
    height: 7rem;
}

.shade .display {
    background-color: #E8E8E8; 
}

@media (max-width: 1200px) {
    .row {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        grid-auto-flow: row;
    }

    .display {
        margin-left: auto;
        margin-right: auto;
    }
}
