.adjacent {
    display: flex;
    flex-direction: across;
}

input[readonly] {
    background-color: #E8E8E8;
}

table {
    border-collapse: collapse;
    margin: 1rem;
}

thead {
    background-color: black;
    color: white;
}

td {
    padding-right: 1.5rem;
}

@media (max-width: 1000px) {
    .adjacent {
        flex-direction: column;
    }

    textarea {
        width: 32em;
    }
}
