h2 {
    margin-top: 1rem;
}

table {
    border-collapse: collapse;
    width: 99%;
}

ul li {
    padding-left: 0.5rem;
}

thead {
    background-color: black;
    color: white;
}

#results {
    margin-left: 1rem;
}

.details {
    margin: 1rem;
}

.details thead {
    border-bottom: 1px solid black;
}

.contract {
    background-color: #E8E8E8;
}

.section {
    margin-top: 1rem;
}

.no-border td {
    border: none;
}

.adjacent,
.data {
    display: flex;
}

select {
    width: 20rem;
}

.form-question {
    width: 20rem;
    margin: 0.5rem;
}

button, input[type="submit"] {
    margin: 2px;
    padding: 2px;
}

@media (max-width: 1200px) {
    .data {
        flex-direction: column;
    }

    .form-question {
        width: 50%;
    }

    .form-question select {
        width: 100%;
    }

    .scrollable-table td:nth-child(6), 
    .scrollable-table td:nth-child(7) {
        display: none;
    }
}
