.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
}

thead tr {
    position: sticky;
    top: 0px;
}

input[type="number"] {
    width: 10rem;
}

h3 {
    margin-top: 1rem;
}
