#wide-search {
    padding: 1rem;
    border-bottom: 1px solid black;
}

h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.team-link img {
    height: 3rem;
}

ul {
    list-style: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.team {
    margin-top: auto;
    margin-bottom: auto;
}

.person-team,
.team-link {
    display: flex;
    flex-direction: row;
}

.person-team {
    height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.team-name {
    margin-top: auto;
    margin-bottom: auto;
}

.team-logo {
    margin-right: 0.5rem;
}
