table {
    border-collapse: collapse;
    width: 95%;
}

thead {
    background-color: black;
    color: white;
}

tr {
    height: 1.5rem;
}

.logo {
    width: 1.4rem;
    height: 1.4rem;
}

form {
    padding: 0.5rem;
}

.team {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.align-right {
    text-align: right;
    padding-right: 2rem;
}

@media (max-width: 1100px) {
    td:nth-child(8) {
        display: none;
    }
}

@media (max-width: 900px) {
    td:nth-child(5) {
        display: none;
    }
}

@media (max-width: 700px) {
    td:nth-child(2), td:nth-child(3) {
        display: none;
    }
}
