.content,
.columns {
    display: flex;
    flex-direction: row;
}

.stack {
    display: flex;
    flex-direction: column;
}

input[type="button"] {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 1rem;
}

#team-season,
#logo-preview, {
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
}

.team-season-data {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.team-season-data label {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin-left: 0.25rem;
}

#logo {
    margin-right: revert;
}

.logo {
    width: 20rem;
    height: 20rem;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
    }
}
