.teams {
    display: flex;
    flex-direction: across;
}

.team {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

select {
    width: 100%;
}

.details {
    margin-left: 3%;
    margin-right: 3%;
}

.hidden {
    display: none;
}

.scrollable_table {
    overflow-y: scroll;
    height: 15rem;
}

.scrollable_table thead th {
    position: sticky;
    top: 0;
    background: black;
    color: white;
    text-align: left;
}

table {
    border-collapse: collapse;
}

textarea {
    width: 100%;
}

input[type="submit"] {
    margin: 2px;
    margin-top: 5px;
    padding: 2px;
}

input[type="number"] {
    width: 4rem;
}

@media (max-width: 1200px) {
    .picks td:nth-child(5),
    .picks th:nth-child(5),
    .contracts td:nth-child(6),
    .contracts th:nth-child(6) {
        display: none;
    }
}
