h4 {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.trade-details {
    width: 75%;
}

.trade-team {
    font-size: 2rem;
    border-bottom: 3px solid black;
    margin-bottom: 0.5rem;
}

.trade-assets div {
    margin-bottom: 0.25rem;
}

.details {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.trade-viz {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.team-logo,
.team-logo img {
    width: 15rem;
    padding-left: 0.5rem;
}

.details {
    padding-left: 1rem;
}

.conditions {
    width: 90%;
    border-top: 1px solid black;
    margin-top: 1rem;
}

.conditions div {
    margin-bottom: 0.25rem;
}

.trade-arrows {
    max-width: 13rem;
    max-height: 100%;
}

.shaded {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trades .team-logo, 
.trades .team-logo img {
    width: 5rem;
}

.trades h4,
.trades .trade-team {
    font-size: 1.25rem;
}

.trades .trade-arrows {
    max-width: 10%;
}

.trades > div,
.trades > form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.trades > input {
    margin-left: 10%;
}

.trades .hide {
    display: none;
}

.trades .trade-viz {
    margin-top: 15px;
}

@media (max-width: 1050px) {
    .trade-arrows {
        display: none;
    }

    .trade-details {
        width: 100%;
    }

    .team-logo {
        width: 11rem;
    }

    .team-logo img {
        width: 10rem;
        height: 10rem;
    }
}
