.hide {
    display: none;
}

.page .team {
    display: flex;
    flex-direction: row;
}

.team-name {
    margin-left: 1rem;
}

@media (max-width: 1200px) {
    td:nth-child(5) {
        display: none;
    }
}

@media (max-width: 800px) {
    .team-name {
        display: none;
    }

    #show-collapsed-columns:checked ~ .page .team-name {
        display: block;
    }
}
