.updates {
    display: flex;
    flex-direction: across;
}

.group {
    padding: 0.5rem;
}

.notes {
    margin: 1rem;
}

.team_logo {
    max-width: 15rem;
    max-height: 15rem;
    margin-top: 1rem;
}

#current_status {
    min-width: 10rem;
}

#new-status {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

#aliases {
    margin-bottom: 0.5rem;
    min-width: 10rem;
}

#new-alias {
    margin-bottom: 0.25rem;
}
