{% set conditions = namespace(count=0, details=[]) %}
<div class="trade-viz">
    <div class="trade-details">
        <table>
            <tr>
                <td class="team-logo"></td>
                <td class="details">
                    <h4>{{ trade["date"] }}</h4>
                </td>
            </tr>
            <tr>
                <td class="team-logo">
                    <img alt="{{trade['team_two']['name']}} team logo" src="{{ url_for('static', filename=trade['team_two']['logo']) }}">
                </td>
                <td class="details">
                    {% with team=trade['team_two'], picks=trade['picks_one'], contracts=trade['contracts_one'] %}
                    {% include "_trade_team_details.html" %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td class="team-logo">
                    <img alt="{{trade['team_one']['name']}} team logo" src="{{ url_for('static', filename=trade['team_one']['logo']) }}">
                </td>
                <td class="details">
                    {% with team=trade['team_one'], picks=trade['picks_two'], contracts=trade['contracts_two'] %}
                    {% include "_trade_team_details.html" %}
                    {% endwith %}
                </td>
            </tr>
        </table>
        {% if conditions.count > 0 %}
        <div class="conditions">
            {% for idx in range(conditions.count) %}
            <div>[{{ idx }}] {{ conditions.details[idx] }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <img class="trade-arrows" alt="two opposing and offset chevrons pointing up and down" src="{{ url_for('static', filename='img/chevrons.svg') }}">
</div>
