{% extends "base.html" %}

{% block content %}

<h1>Adjust Roster - {{ data["team_name"] }}</h1>
<p><a href="{{ url_for('main.team_route', team_id=data['team_id']) }}">Roster Link</a></p>
<input id="transaction-date" type="date">

<table class="roster">
    <tbody>
        <tr class="head">
            <td class="name">Offense</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% set headers = namespace(defense=False, goalie=False, non_roster=False, loaned=False, juniors=False) %}
    {% for row in data["roster"] %}
    {% if row["position"] == "D" and headers.defense == False %}
        {% set headers.defense = True %}
        <tr class="spacer"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Defense</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% elif row["position"] == "G" and headers.goalie == False %}
        {% set headers.goalie = True %}
        <tr class="spacer"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Goaltending</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% elif row["non_roster"] == True and headers.non_roster == False %}
        {% set headers.non_roster = True %}
        <tr class="spacer"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Non-Roster</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% elif row["on_loan"] == True and row["in_juniors"] == False and headers.loaned == False %}
        {% set headers.loaned = True %}
        <tr class="spacer"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">On Loan</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% elif row["in_juniors"] == True and headers.juniors == False %}
        {% set headers.juniors = True %}
        <tr class="spacer"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Juniors</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td>Last Waived</td>
            <td>By</td>
            <td>Contract Limit</td>
            <td>Suspended</td>
            <td>Clauses</td>
        </tr>
    {% endif %}
        <tr>
            <td class="name">
                <a href="{{ url_for('main.person_route', person_id=row['id']) }}">{{ row["name"] }}</a>
            </td>
            <td>
                <select name="adjustment" id="{{ row['id'] }}_adjust">
                    <option value="">-- None --</option>
                    <option value="waive">Waive</option>
                    {% if row["non_roster"] or row["in_juniors"] or row["on_loan"] %}
                    <option value="callup">
                    To NHL
                    </option>
                    <option value="emergency_callup">
                    Emergency Callup
                    </option>
                    {% else %}
                    <option value="non_roster">
                    To Minors
                    </option>
                    {% endif %}
                    <option value="on_loan">Loan</option>
                    <option value="to_juniors">To Juniors</option>
                    <option value="ad_hoc">Ad Hoc</option>
                </select>
                <input type="button" id="{{ row['id'] }}_submit" value="Submit" disabled/>
                <br/>
                <input type="text" id="{{ row['id'] }}_adhoc" class="ad_hoc" placeholder="Ad-hoc transaction"/>
            </td>
            <td>{{ row["position"] }}</td>
            <td>
            {% if row["waivers_exempt"] %}
                Exempt
            {% endif %}
            </td>
            <td>
            {% if row["last_waived_date"] %}
                {{ row["last_waived_date"] }}
            {% endif %}
            </td>
            <td>
            {% if row["last_waived_date"] %}
                <a href="{{ url_for('main.team_route', team_id=row['last_waived_team']) }}">
                    <img class="row-logo" alt="{{row['last_waived_team']}} logo" src="{{ url_for('static', filename=row['last_waived_logo']) }}">
                    {{ row["last_waived_team"] }}
                </a>
            {% endif %}
            </td>
            <td>
            {% if row["contract_limit_exempt"] %}
                Exempt
            {% endif %}
            </td>
            <td>
            {% if "Suspended" in row["current_status"] %}
                ✅
            {% endif %}
            </td>
            <td>
            {% if row["nmc"] and row["ntc"] %}
                M-NTC, NMC
            {% elif row["nmc"] %}
                NMC
            {% elif row["ntc"] %}
                NTC
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

    {% if data["rights"]|length > 0 %}
    <tbody>
        <tr class="spacer"></tr>
        <tr class="head">
            <td class="name">Rights</td>
            <td></td>
            <td>Position</td>
            <td>Waivers</td>
            <td colspan="2">Expiration</td>
            <td colspan="2">Qualified Player</td>
            <td colspan="2">Qualified Salary</td>
        </tr>
        {% for row in data["rights"] %}
        <tr>
            <td class="name">
                <a href="{{ url_for('main.person_route', person_id=row['id']) }}">{{ row["name"] }}</a>
            </td>
            <td>
                {% if row['is_qualifying_offer'] %}
                <input type="button" id="{{ row['id'] }}_dequalify" value="De-qualify"/>
                {% endif %}
                <input type="button" id="{{ row['id'] }}_deactivate" value="Deactivate"/>
            </td>
            <td>{{ row["position"] }}</td>
            <td>
            {% if row["waivers_exempt"] %}
                Exempt
            {% endif %}
            </td>
            <td colspan="2">{{ row["rights_expiration"] }}</td>
            <td colspan="2">
            {% if row['is_qualifying_offer'] %}
                QO
            {% else %}
                Other
            {% endif %}
            </td>
            <td colspan="2">
                {% if row['is_qualifying_offer'] %}
                    {{ "${:,}".format(row['qualifying_salary']) }}
                    {% if row['qualifying_minors'] %}
                        / {{ "${:,}".format(row['qualifying_minors']) }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>

<script src="{{ url_for('static', filename='js/adjust_roster.js') }}"></script>

{% endblock %}
