{% extends "base.html" %}

{% block content %}
    <h1>Create Contract Record</h1>
    <div class="notes">
        <h3>Notes</h3>
        <ul>
            <li>"Player" is populated by default with free agents only</li>
            <li>Use the checkboxes to change the type of players being displayed. Extendable player and players with claimed signing rights need a team to be selected before you can display them.</li>
            <li>Seasons filled automatically</li>
            <li>People with an active contract will have a new contract start the first season after expiration</li>
            <li>People without an active contract will start in the current season</li>
            <li>NHL salary is required for each year. Minors salary is not. If minors salary is left blank, it will be filled with the NHL salary value</li>
            <li>If minors salary is different from NHL salary, the contract year will be marked two way</li>
            <li>NHL minimum minor league salary is the greater of $35,000 or the specific league's minimum salary. This form only checks for the $35,000 limit</li>
            <li>To indicate that a European player age 25-27 is their one year ELC, please make sure to check the 'Entry Level' checkbox</li>
            <li>Performance bonuses for a 400GP player coming off injured reserve must be added manually, not via this form</li>
            <li>First Season is automatically calculated if left blank. This is present to backfill old contracts and work around any weirdness</li>
            <li>If a player doesn't show up on the list, they may be inactive. This can be updated in the "Update Person" form</li>
        </ul>
    </div>
    {% for error in form.validation_errors %}
    <div class="error">[{{ error }}]</div>
    {% endfor %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table class="contract-data">
            <tbody>
                <tr>
                    <td>
                        <label for="show-inactive">
                            <input type="checkbox" id="show-inactive"/>
                            Show inactive
                        </label><br/>
                        <label for="show-extendable">
                            <input type="checkbox" id="show-extendable"/>
                            Show extendable
                        </label><br/>
                        <label for="show-rights">
                            <input type="checkbox" id="show-rights"/>
                            Show signing rights
                        </label>
                    </td>
                    <td>
                        <div>
                            {{ form.signing_date.label }} <br/>
                            {{ form.signing_date() }}
                            {% for error in form.signing_date.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.person.label }} <br/>
                        {{ form.person(size=12) }}
                        {% for error in form.person.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.team.label }} <br/>
                        {{ form.team(size=12) }}
                        {% for error in form.team.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            {{ form.expiration_status.label }} <br/>
                            {{ form.expiration_status(size=2) }}
                            {% for error in form.expiration_status.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.first_season.label }} <br/>
                            {{ form.first_season() }}
                            {% for error in form.first_season.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.total_value.label }} <br/>
                            {{ form.total_value(size=11, readonly=True, class="shaded") }}
                            {% for error in form.total_value.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{ form.entry_level.label }} <br/>
                            {{ form.entry_level() }}
                            {% for error in form.entry_level.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                            <div id="slide">
                                {{ form.entry_level_slide.label }} <br/>
                                {{ form.entry_level_slide() }}
                                {% for error in form.entry_level_slide.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            {{ form.non_roster.label }} <br/>
                            {{ form.non_roster() }}
                            {% for error in form.non_roster.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.extension.label }} <br/>
                            {{ form.extension() }}
                            {% for error in form.extension.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div>
                            {{ form.offer_sheet.label }} <br/>
                            {{ form.offer_sheet() }}
                            {% for error in form.offer_sheet.errors %}
                            <br/><span class="error">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit() }} 
                        {% for error in form.submit.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <h2>Year One</h2>
                <table id="first" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.first_nhl_salary.label }} <br/>
                                {{ form.first_nhl_salary(size=11) }}
                                {% for error in form.first_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.first_minors_salary.label }} <br/>
                                {{ form.first_minors_salary(size=11) }}
                                {% for error in form.first_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.first_signing_bonus.label }} <br/>
                                {{ form.first_signing_bonus(size=11) }}
                                {% for error in form.first_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.first_performance_bonuses.label }} <br/>
                                {{ form.first_performance_bonuses(size=11) }}
                                {% for error in form.first_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.first_ntc() }}
                                {{ form.first_ntc.label }} 
                                <br/>
                                {{ form.first_nmc() }}
                                {{ form.first_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.first_clause_limits.label }} <br/>
                                {{ form.first_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="second_year">{{ form.second_year() }} Year Two</label></h2>
                <div class="error">
                {% for error in form.second_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="second" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.second_nhl_salary.label }} <br/>
                                {{ form.second_nhl_salary(size=11) }}
                                {% for error in form.second_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.second_minors_salary.label }} <br/>
                                {{ form.second_minors_salary(size=11) }}
                                {% for error in form.second_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.second_signing_bonus.label }} <br/>
                                {{ form.second_signing_bonus(size=11) }}
                                {% for error in form.second_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.second_performance_bonuses.label }} <br/>
                                {{ form.second_performance_bonuses(size=11) }}
                                {% for error in form.second_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.second_ntc() }}
                                {{ form.second_ntc.label }} 
                                <br/>
                                {{ form.second_nmc() }}
                                {{ form.second_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.second_clause_limits.label }} <br/>
                                {{ form.second_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="third_year">{{ form.third_year() }} Year Three</label></h2>
                <div class="error">
                {% for error in form.third_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="third" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.third_nhl_salary.label }} <br/>
                                {{ form.third_nhl_salary(size=11) }}
                                {% for error in form.third_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.third_minors_salary.label }} <br/>
                                {{ form.third_minors_salary(size=11) }}
                                {% for error in form.third_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.third_signing_bonus.label }} <br/>
                                {{ form.third_signing_bonus(size=11) }}
                                {% for error in form.third_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.third_performance_bonuses.label }} <br/>
                                {{ form.third_performance_bonuses(size=11) }}
                                {% for error in form.third_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.third_ntc() }}
                                {{ form.third_ntc.label }} 
                                <br/>
                                {{ form.third_nmc() }}
                                {{ form.third_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.third_clause_limits.label }} <br/>
                                {{ form.third_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="fourth_year">{{ form.fourth_year() }} Year Four</label></h2>
                <div class="error">
                {% for error in form.fourth_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="fourth" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.fourth_nhl_salary.label }} <br/>
                                {{ form.fourth_nhl_salary(size=11) }}
                                {% for error in form.fourth_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fourth_minors_salary.label }} <br/>
                                {{ form.fourth_minors_salary(size=11) }}
                                {% for error in form.fourth_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fourth_signing_bonus.label }} <br/>
                                {{ form.fourth_signing_bonus(size=11) }}
                                {% for error in form.fourth_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fourth_performance_bonuses.label }} <br/>
                                {{ form.fourth_performance_bonuses(size=11) }}
                                {% for error in form.fourth_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.fourth_ntc() }}
                                {{ form.fourth_ntc.label }} 
                                <br/>
                                {{ form.fourth_nmc() }}
                                {{ form.fourth_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.fourth_clause_limits.label }} <br/>
                                {{ form.fourth_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="fifth_year">{{ form.fifth_year() }} Year Five</label></h2>
                <div class="error">
                {% for error in form.fifth_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="fifth" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.fifth_nhl_salary.label }} <br/>
                                {{ form.fifth_nhl_salary(size=11) }}
                                {% for error in form.fifth_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fifth_minors_salary.label }} <br/>
                                {{ form.fifth_minors_salary(size=11) }}
                                {% for error in form.fifth_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fifth_signing_bonus.label }} <br/>
                                {{ form.fifth_signing_bonus(size=11) }}
                                {% for error in form.fifth_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.fifth_performance_bonuses.label }} <br/>
                                {{ form.fifth_performance_bonuses(size=11) }}
                                {% for error in form.fifth_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.fifth_ntc() }}
                                {{ form.fifth_ntc.label }} 
                                <br/>
                                {{ form.fifth_nmc() }}
                                {{ form.fifth_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.fifth_clause_limits.label }} <br/>
                                {{ form.fifth_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="sixth_year">{{ form.sixth_year() }} Year Six</label></h2>
                <div class="error">
                {% for error in form.sixth_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="sixth" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.sixth_nhl_salary.label }} <br/>
                                {{ form.sixth_nhl_salary(size=11) }}
                                {% for error in form.sixth_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.sixth_minors_salary.label }} <br/>
                                {{ form.sixth_minors_salary(size=11) }}
                                {% for error in form.sixth_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.sixth_signing_bonus.label }} <br/>
                                {{ form.sixth_signing_bonus(size=11) }}
                                {% for error in form.sixth_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.sixth_performance_bonuses.label }} <br/>
                                {{ form.sixth_performance_bonuses(size=11) }}
                                {% for error in form.sixth_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.sixth_ntc() }}
                                {{ form.sixth_ntc.label }} 
                                <br/>
                                {{ form.sixth_nmc() }}
                                {{ form.sixth_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.sixth_clause_limits.label }} <br/>
                                {{ form.sixth_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="seventh_year">{{ form.seventh_year() }} Year Seven</label></h2>
                <div class="error">
                {% for error in form.seventh_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="seventh" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.seventh_nhl_salary.label }} <br/>
                                {{ form.seventh_nhl_salary(size=11) }}
                                {% for error in form.seventh_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.seventh_minors_salary.label }} <br/>
                                {{ form.seventh_minors_salary(size=11) }}
                                {% for error in form.seventh_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.seventh_signing_bonus.label }} <br/>
                                {{ form.seventh_signing_bonus(size=11) }}
                                {% for error in form.seventh_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.seventh_performance_bonuses.label }} <br/>
                                {{ form.seventh_performance_bonuses(size=11) }}
                                {% for error in form.seventh_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.seventh_ntc() }}
                                {{ form.seventh_ntc.label }} 
                                <br/>
                                {{ form.seventh_nmc() }}
                                {{ form.seventh_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.seventh_clause_limits.label }} <br/>
                                {{ form.seventh_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <h2><label for="eighth_year">{{ form.eighth_year() }} Year Eight</label></h2>
                <div class="error">
                {% for error in form.eighth_year.errors %}
                <br/>[{{ error }}]
                {% endfor %}
                </div>
                <table id="eighth" class="contract-year">
                    <tbody>
                        <tr>
                            <td>
                                {{ form.eighth_nhl_salary.label }} <br/>
                                {{ form.eighth_nhl_salary(size=11) }}
                                {% for error in form.eighth_nhl_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.eighth_minors_salary.label }} <br/>
                                {{ form.eighth_minors_salary(size=11) }}
                                {% for error in form.eighth_minors_salary.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.eighth_signing_bonus.label }} <br/>
                                {{ form.eighth_signing_bonus(size=11) }}
                                {% for error in form.eighth_signing_bonus.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ form.eighth_performance_bonuses.label }} <br/>
                                {{ form.eighth_performance_bonuses(size=11) }}
                                {% for error in form.eighth_performance_bonuses.errors %}
                                <br/><span class="error">[{{ error }}]</span>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.eighth_ntc() }}
                                {{ form.eighth_ntc.label }} 
                                <br/>
                                {{ form.eighth_nmc() }}
                                {{ form.eighth_nmc.label }} 
                            </td>
                            <td colspan="3">
                                {{ form.eighth_clause_limits.label }} <br/>
                                {{ form.eighth_clause_limits() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>


    </form>

    <script src="{{ url_for('static', filename='js/create_contract.js') }}"></script>
{% endblock %}
