{% extends "base.html" %}

{% block content %}
    <h1>Create PTO Record</h1>
    <div class="notes">
        <h3>Notes</h3>
        <ul>
            <li>"Player" is populated by default with UFA free agents who haven't already signed a PTO</li>
            <li>Season is set automatically</li>
            <li>Signing a PTO will not block a player from being signed to a contract</li>
        </ul>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table class="contract-data">
            <tbody>
                <tr>
                    <td>
                        {{ form.signing_date.label }} <br/>
                        {{ form.signing_date() }}
                        {% for error in form.signing_date.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        <label for="show-inactive">
                            <input type="checkbox" id="show-inactive"/>
                            Show inactive players
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.team.label }} <br/>
                        {{ form.team(size=34) }}
                        {% for error in form.team.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>
                        {{ form.person.label }} <br/>
                        {{ form.person(size=34) }}
                        {% for error in form.person.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit() }} 
                        {% for error in form.submit.errors %}
                        <br/><span class="error">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
    <script src="{{ url_for('static', filename='js/create_pto.js') }}"></script>
{% endblock %}
