{% extends "base.html" %}

{% block content %}
<h1>Admin Homepage</h1>
<ul>
    <li><a href="{{ url_for('admin.create_person') }}">Person Input</a></li>
    <li><a href="{{ url_for('admin.update_person') }}">Update Person</a> - Includes setting on IR, LTIR</li>
    <li><a href="{{ url_for('admin.create_contract') }}">Contract Input</a></li>
    <li><a href="{{ url_for('admin.create_pto') }}">PTO Input</a></li>
    <li><a href="{{ url_for('admin.update_draft') }}">Draft Updates</a></li>
    <li><a href="{{ url_for('admin.buyout_route') }}">Buyout Input</a></li>
    <li><a href="{{ url_for('admin.qualifying_route') }}">Qualify an RFA</a></li>
    <li><a href="{{ url_for('admin.input_trade') }}">Trade Input</a></li>
    <li>
        View/Update Season data <br/>
        <select id="season">
            <option value="">-- None --</option>
        {% for season in seasons %}
            <option value="{{ season[0] }}">{{ season[1] }}</option>
        {% endfor %}
        </select>
        <a
            href="#"
            id="edit-season"
        ><strong>View/Edit</strong></a>
    </li>
    <li>
        Update team data or roster<br/>
        <select id="team">
            <option value="">-- None --</option>
        {% for team in teams %}
            <option value="{{ team[0] }}">{{ team[1] }}</option>
        {% endfor %}
        </select>
        <input type="date" id="catchup-date"/>
        <br/>
        <a
            href="#"
            id="adjust-roster"
        ><strong>Adjust Roster</strong></a>
        ||
        <a
            href="#"
            id="update-team"
        ><strong>Update team</strong></a>
    </li>
    <li><a href="{{ url_for('admin.manage_waivers') }}">Manage Waivers</a></li>
    <li><a href="{{ url_for('admin.recalculate_daily_cap') }}">Recalculate Daily Cap</a></li>
    <li><a href="{{ url_for('admin.create_new_note') }}">Add a Note</a></li>
    <li><a href="{{ url_for('admin.display_notes') }}">All Notes</a></li>
    <li>
        For all notes about a specific table, select the table from the dropdown<br/>
        <label for="table">Table:</label>
        <select id="table">
            <option value="">-- None --</option>
            <option value="team">team</option>
            <option value="person">person</option>
            <option value="season">season</option>
            <option value="team_season">team_season</option>
            <option value="draft_pick">draft_pick</option>
            <option value="transaction">transaction</option>
            <option value="contract">contract</option>
            <option value="retained_salary">retained_salary</option>
            <option value="asset">asset</option>
            <option value="user">user</option>
            <option value="contract_year">contract_year</option>
            <option value="buyout_year">buyout_year</option>
            <option value="transaction_asset">transaction_asset</option>
        </select>
        <a
            class="notes"
            href="#"
        ><strong>Go to Notes</strong></a>
    </li>
    <li>
        Lists of all notes for a specific record can be found at /admin/notes/&lt;table&gt;/&lt;record-id&gt;<br/>
        Table names are listed in the dropdown above<br/>
        If you know your record's ID, please input it here, select a table above, and click the button<br/>
        <label for="record-id">Record ID:</label>
        <input id="record-id" type="number" min="0" size="6"/>
        <a
            class="notes"
            href="#"
        ><strong>Go to Notes</strong></a>
    </li>
    <li><a href="/database">Database Interface</a></li>
    <li><a href="{{ url_for('admin.roll_over') }}">Season rollover</a></li>
    <li><a href="{{ url_for('admin.update_team_season') }}">TeamSeason Updates</a></li>
</ul>

<script>
    function updateSeasonLink(event) {
        let url = window.location.href + `/season/${event.target.value}`;
        document.getElementById('edit-season').href = url;
    }
    function updateRosterLink() {
        let catchupDate = document.getElementById('catchup-date').value;
        let team = document.getElementById('team').value;
        let url = window.location.href + `/adjust-roster/${team}`;
        if (catchupDate) {
            url += `?date=${catchupDate}`;
        }
        document.getElementById('adjust-roster').href = url;
    }
    function updateTeamLink() {
        let team = document.getElementById('team').value;
        let url = window.location.href + `/update-team/${team}`;
        document.getElementById('update-team').href = url;
    }
    function updateNotesLink() {
        let table = document.getElementById('table').value;
        let recordId = document.getElementById('record-id').value;
        let links = [...document.getElementsByClassName('notes')];
        if (!table) {
            links.forEach((el) => el.href = '#');
        }

        let url = window.location.href + `/notes/${table}`;
        if (recordId) {
            url += `/${recordId}`;
        }
        links.forEach((el) => el.href = url);
    }
    document.getElementById('season').onchange = updateSeasonLink;
    document.getElementById('team').onchange = updateRosterLink;
    document.getElementById('catchup-date').onchange = updateRosterLink;
    document.getElementById('table').onchange = updateNotesLink;
    document.getElementById('record-id').onchange = updateNotesLink;
    updateSeasonLink({target: document.getElementById('season')});
    updateRosterLink();
    updateTeamLink();
    updateNotesLink();
</script>
{% endblock %}
