{% extends "base.html" %}

{% block content %}
<h2>Input Trade</h2>

    <form action="" method="post" onsubmit="return collectSelections();" novalidate class="adjacent">
        {{ form.hidden_tag() }}
        <div>
            <strong>{{ form.date.label }}</strong><br/>
            {{ form.date() }}
            {% for error in form.date.errors %}
            <br/><span class="error"[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="teams">
            <div class="team">
                <div>
                    <strong>{{ form.team_one.label }}</strong><br/>
                    {{ form.team_one(size=8) }}
                    {% for error in form.team_one.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="errors">
                    {% for error in form.contracts_one.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                    {% for error in form.picks_one.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                    {% for error in form.future_considerations.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    <strong>{{ form.future_considerations_one.label }}</strong>
                    {{ form.future_considerations_one }}
                </div>
                <div>
                    <strong>Picks</strong>
                    <div class="scrollable_table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Team</th>
                                    <th>Year</th>
                                    <th>Round</th>
                                    <th>Condition</th>
                                </tr>
                            </thead>
                            <tbody id="select_picks_one">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <strong>Contracts</strong>
                    <div class="scrollable_table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Exp</th>
                                    <th>Years</th>
                                    <th>AAV</th>
                                    <th>Retention</th>
                                </tr>
                            </thead>
                            <tbody id="select_contracts_one">
                            </tbody>
                        </table>
                    </div>
                </div>
                {{ form.picks_one }}
                {{ form.contracts_one }}
            </div>
            <div class="team">
                <div>
                    <strong>{{ form.team_two.label }}</strong><br/>
                    {{ form.team_two(size=8) }}
                    {% for error in form.team_two.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="errors">
                    {% for error in form.contracts_two.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                    {% for error in form.picks_two.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                    {% for error in form.future_considerations.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    <strong>{{ form.future_considerations_two.label }}</strong>
                    {{ form.future_considerations_two }}
                </div>
                <div>
                    <strong>Picks</strong>
                    <div class="scrollable_table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Team</th>
                                    <th>Year</th>
                                    <th>Round</th>
                                    <th>Condition</th>
                                </tr>
                            </thead>
                            <tbody id="select_picks_two">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <strong>Contracts</strong>
                    <div class="scrollable_table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Exp</th>
                                    <th>Years</th>
                                    <th>AAV</th>
                                    <th>Retention</th>
                                </tr>
                            </thead>
                            <tbody id="select_contracts_two">
                            </tbody>
                        </table>
                    </div>
                </div>
                {{ form.picks_two }}
                {{ form.contracts_two }}
            </div>
        </div>
        <div id="considerations" class="hidden">
            <strong>{{ form.future_considerations.label }}</strong><br/>
            {{ form.future_considerations }}
            {% for error in form.future_considerations.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/trade_proposal.js') }}"></script>
{% endblock %}
