{% extends "base.html" %}

{% block content %}
    <h2>Contract Buyout</h2>

    <form action="" method="post" novalidate class="adjacent">
        {{ form.hidden_tag() }}
        <!--div class="adjacent"-->
            <div class="form-question">
                <strong>{{ form.team.label }}</strong> <br/>
                {{ form.team(size=33) }}
                {% for error in form.team.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.person.label }}</strong> <br/>
                {{ form.person(size=33) }}
                {% for error in form.person.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        <!--/div-->
        <div class="form-question">
            <strong>{{ form.buyout_after.label }}<sup>*</sup></strong> <br/>
            {{ form.buyout_after(size=8) }} 
            {% for error in form.buyout_after.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
            <br/>
            *Show buyout if it happens after selected season has concluded
        </div>
        <div class="form-question">
            <br/>{{ form.submit() }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/buyout_candidates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buyout_seasons.js') }}"></script>
{% endblock %}
