{% extends "base.html" %}

{% block content %}
    <h2>Add/Edit Note</h2>
    <ul>
        <li>Add or edit notes here</li>
        <li>Table is required. Record ID isn't. They aren't validated</li>
        <li>For a new note, you cannot select 'Delete Note'</li>
        <li>When editing a note, you cannot update Table or Record ID</li>
        <li>'Note' cannot be empty</li>
    </ul>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="adjacent">
            <div class="form-question">
                <strong>{{ form.record_table.label }}</strong> <br/>
                {{ form.record_table(size=32) }}
                {% for error in form.record_table.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <strong>{{ form.record_id.label }}</strong> <br/>
                {{ form.record_id(size=8) }}
                {% for error in form.record_id.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-question">
            <strong>{{ form.note.label }}</strong> <br/>
            {{ form.note(rows=8, cols=48) }}
            {% for error in form.note.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-question">
            {{ form.safe() }} <strong>{{ form.safe.label }}</strong>
        </div>
        <div class="form-question">
            {{ form.delete() }} <strong>{{ form.delete.label }}</strong>
        </div>
        <div class="form-question">
            <br/>{{ form.submit() }}
        </div>
    </form>

{% endblock %}
