{% extends "base.html" %}

{% block content %}
    <h2>Notes</h2>
    {% if table %}
    <p><strong>Table:</strong> {{ table }}</p>
    {% endif %}
    {% if record %}
    <p><strong>Record ID:</strong> {{ record }}</p>
    {% endif %}
    <input type="button" value="Create New" onclick="window.location.href=window.location.href.replace('notes', 'note')">

    <table>
        <thead>
            <tr><td>Edit</td><td>Table</td><td>ID</td><td>Note</td></tr>
        </thead>
        <tbody>
        {% for note in data %}
            <tr>
                <td><a href="/admin/note/{{ note['note_id'] }}">✏️</a></td>
                <td>{{ note["record_table"] }}</td>
                <td>{{ note["record_id"] }}</td>
                <td>{{ note["note"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
