{% extends "base.html" %}

{% block content %}
    <h2>Qualifying Offers</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="data">
            <div class="adjacent">
                <div class="form-question">
                    <strong>{{ form.team.label }}</strong> <br/>
                    {{ form.team(size=33) }}
                    {% for error in form.team.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-question">
                    <strong>{{ form.person.label }}</strong> <br/>
                    {{ form.person(size=33) }}
                    {% for error in form.person.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div id="results">
            </div>
        </div>
        <div class="form-question">
            <button type="button" id="qualify">Qualify</button>
            {{ form.submit() }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/qualifying_players.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qualifying_offer_details.js') }}"></script>
{% endblock %}
