{% extends "base.html" %}

{% block content %}
    <h1>Recalculate Daily Cap</h1>

    {% if message %}
    <h2 class="error">{{ message }}</h2>
    {% endif %}

    <form action="" method="post" novalidate class="adjacent">
        {{ form.hidden_tag() }}
        <div class="form-question">
            <strong>{{ form.team.label }}</strong> <br/>
            {{ form.team(size=34) }}
            {% for error in form.team.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <div class="form-question">
                <strong>{{ form.date.label }}</strong> <br/>
                {{ form.date() }}
                {% for error in form.date.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-question">
                <br/>{{ form.submit() }}
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/recalculate.js') }}"></script>
{% endblock %}
