{% extends "base.html" %}

{% block content %}
    <h1>Update Person Record</h1>
    <div class="notes">
        <h3>Notes</h3>
        <ul>
            <li>Input the person's name or ID first. Click validate. The person's current data should populate</li>
            <li>Please check the populated data to make sure you're updating the correct person</li>
            <li>To set a player as retired, please uncheck "Active" and add "Retired" as a status</li>
            <li>Validating is required. It fills in a hidden user ID field used to look up the person on submission</li>
        </ul>
    </div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.date.label }} <br/>
            {{ form.date() }}
        </div>
        <div>
            {{ form.person.label }} <br/>
            {{ form.person() }}
            <input id="validate" type="button" value="Validate">
        </div>
        <div>
            {{ form.ep_id.label }} <br/>
            {{ form.ep_id() }}
            {% for error in form.ep_id.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div id="static-data"></div>
        <div class="updates">
            <div class="group">
                <div>
                    {{ form.current_status.label }} <br/>
                    {{ form.current_status(size=12) }} <br/>
                    <input id="new-status" type="text" size="10"><br/>
                    <input id="add-status" type="button" value="Add to Status">
                    {% for error in form.current_status.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="group">
                <div>
                    {{ form.weight.label }} <br/>
                    {{ form.weight(size=6) }} 
                    {% for error in form.weight.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.number.label }} <br/>
                    {{ form.number(size=5) }}
                </div>
                <div>
                    {{ form.active.label }} <br/>
                    {{ form.active() }} 
                </div>
                <div>
                    {{ form.rookie.label }} <br/>
                    {{ form.rookie() }} 
                </div>
                <div>
                    {{ form.captain.label }} <br/>
                    {{ form.captain() }} 
                </div>
                <div>
                    {{ form.alternate_captain.label }} <br/>
                    {{ form.alternate_captain() }} 
                </div>
                <div>
                    {{ form.non_roster.label }} <br/>
                    {{ form.non_roster() }} 
                </div>
                <div>
                    {{ form.waivers_exempt.label }} <br/>
                    {{ form.waivers_exempt() }} 
                </div>
            </div>
            <div class="group">
                {{ form.aliases.label }} <br/>
                {{ form.aliases(size=10) }} <br/>
                <input id="new-alias" type="text" size="20"><br/>
                <input id="add-alias" type="button" value="Add Alias">
                {% for error in form.aliases.errors %}
                <br/><span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div>
            {{ form.submit() }} 
            {% for error in form.submit.errors %}
            <br/><span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/update_person.js') }}"></script>
{% endblock %}
