{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate class="adjacent">
    {{ form.hidden_tag() }}
    <div class="form-question">
        <strong>{{ form.season.label }}</strong>
        {{ form.season() }}
        {% for error in form.season.errors %}
        <br/><span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-question">
        {{ form.submit() }}
    </div>
</form>

<form>
    <label for="team-filter" class="form-question">
            <strong>Team Filter</strong>
        <select id="team-filter" value="">
            <option value=""></option>
            {% for team in data["teams"] %}
            <option value="{{team}}">{{ team }}</option>
            {% endfor %}
        </select>
    </label>
</form>

{% if compensatory %}
<form action="" novalidate>
    <h3>Add Compensatory Pick</h3>
    <label for="pick-position" class="form-question">
        <strong>Position</strong>
        <input type="number" id="pick-position" min="1" max="32"/>
    </label>
    <br/>
    <label for="pick-team" class="form-team">
        <strong>Team</strong>
        <select id="pick-team">
            <option value=""></option>
            {% for team in data["teams"] %}
            <option value="{{ team}}">{{ team }}</option>
            {% endfor %}
        </select>
    </label>
    <br/>
    <input type="button" id="add-pick" value="Add Pick"/>
</form>
{% endif %}

<div class="picks">
    <h2>Selections</h2>
    <table id="draft">
        <tbody>
            {% set idx = namespace(round=1) %}
            <tr class="header">
                <td colspan="6">Round {{idx.round}}</td>
            </tr>
            <tr class="header">
                <td class="team">Team</td>
                <td class="team">Original</td>
                <td>Position</td>
                <td>Player</td>
                <td>Notes</td>
                <td></td>
            </tr>
            {% for pick in data["picks"] %}
                {% if pick["round"] != idx.round %}
                    {% set idx.round = idx.round + 1 %}
                    <tr style="height: 1rem"></tr>
                    <tr class="header">
                        <td colspan="6">Round {{idx.round}}</td>
                    </tr>
                    <tr class="header">
                        <td class="team">Team</td>
                        <td class="team">Original</td>
                        <td>Position</td>
                        <td>Player</td>
                        <td>Notes</td>
                        <td></td>
                    </tr>
                {% endif %}
                {% include "admin/_draft_line.html" %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/draft_filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_draft.js') }}"></script>

{% endblock %}
