<div class="scrollable-table rosters">
<h2>NHL Roster</h2>
    <table class="roster">
    {% 
        set idx = namespace(
            idx=0,
            offense=False,
            defense=False,
            goalie=False,
            soir=False,
            ltir=False,
            pto=False,
            free_agent=False
        )
    %}
        <tbody>
        {% for person in data["roster"] %}
        {% if ("C" in person["position"] or "LW" in person["position"] or "RW" in person["position"]) and not idx.offense %}
            {% set idx.offense = True %}
            {% with header="Offense" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif "D" in person["position"] and not idx.defense %}
            {% set idx.defense = True %}
            <tr class="spacer"></tr>
            {% with header="Defense" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif "G" in person["position"] and not idx.goalie %}
            {% set idx.goalie = True %}
            <tr class="spacer"></tr>
            {% with header="Goaltending" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif person["ltir"] and not idx.ltir %}
            {% set idx.ltir = True %}
            <tr class="spacer"></tr>
            {% with header="LTIR" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif person["soir"] and not idx.soir %}
            {% set idx.soir = True %}
            <tr class="spacer"></tr>
            {% with header="SOIR" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif person["pto"] and not idx.pto %}
            {% set idx.pto= True %}
            <tr class="spacer"></tr>
            {% with header="Professional Tryout" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% elif not person["signed"] and not idx.free_agent %}
            {% set idx.free_agent = True %}
            <tr class="spacer"></tr>
            {% with header="Free Agents" %}
                {% include "_roster_header.html" %}
            {% endwith %}
        {% endif %}
            {% set idx.idx = idx.idx + 1 %}
            {% if idx.idx % 2 == 1 %}
            <tr>
            {% else %}
            <tr class="shaded">
            {% endif %}
                <td class="number">
                    {{ person["number"] or "" }}
                </td>
                <td class="name">
                    <a href='{{ url_for('main.person_route', person_id=person['url_id']) }}'>
                        {{ person["name"] }}
                    </a>
                    {% if person["retention"] %}
                    (Ret: {{ person["retention"] }}%)
                    {% endif %}
                    {% if person["waivers_exempt"] %}
                    <span title="Waivers exempt">🚌</span>
                    {% endif %}
                    {% if person["ir"] %}
                    <span title="IR">🇨🇭</span>
                    {% endif %}
                    {% if person["suspended"] %}
                    <span title="Suspended">🧑‍⚖️</span>
                    {% endif %}
                </td>
                <td class="clause"
                {% if person["clause_limits"] %}
                    title="{{ person['clause_limits'] }}"
                {% endif %}
                >
                    {% if person["ntc"] and person["nmc"] and person["clause_limits"] %}
                    NMC, M-NTC
                    {% elif person["ntc"] and person["nmc"] %}
                    NMC, NTC
                    {% elif person["nmc"] and person["clause_limits"] %}
                    M-NMC
                    {% elif person["nmc"] %}
                    NMC
                    {% elif person["ntc"] and person["clause_limits"] %}
                    M-NTC
                    {% elif person["ntc"] %}
                    NTC
                    {% endif %}
                </td>
                <td>{{ person["position"] }}</td>
                <td>{{ get_age(person["birthdate"]) }}</td>
                <td>{{ person["expires_as"] }}</td>
                {% for idx in range(seasons|length) %}
                    {% if person["emergency_callup"] and idx == 0 %}
                        <td>$0 (Emergency)</td>
                    {% elif idx < person["years"]|length %}
                        <td>{{  "${:,}".format(person["years"][idx]["cap_hit"]) or "" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
                {% if "display_overflow" in person %}
                    <td>+</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <strong>Icons:</strong>
        <span title="Waivers exempt">🚌</span>=Waivers exempt
        <span title="Injured">🇨🇭</span>=Injured
        <span title="Suspended">🧑‍⚖️</span>=Suspended
    </p>
</div>
