<div class="details">
    <table class="no-border">
        <tbody>
            <tr>
                <td><strong>Buyout Amount:</strong> {{ "${:,}".format(buyout["buyout_amount"]) }}</td>
                <td><strong>Remaining Seasons:</strong> {{ buyout["remaining_seasons"] }}</td>
                <td><strong>Buyout Seasons:</strong> {{ 2*buyout["remaining_seasons"] }}</td>
            </tr>
            <tr>
                <td><strong>Yearly Amount:</strong> {{ "${:,}".format(buyout["yearly_buyout_amount"]) }}</td>
                <td><strong>Remaining Salary:</strong> {{ "${:,}".format(buyout["remaining_salary"]) }}</td>
                <td><strong>Age:</strong> {{ buyout["player_age"] }}</td>
            </tr>
            <tr>
                <td><strong>Buyout Savings:</strong> {{ "${:,}".format(buyout["buyout_savings"]) }}</td>
                <td><strong>Remaining Bonuses:</strong> {{ "${:,}".format(buyout["remaining_signing_bonuses"]) }}</td>
                <td><strong>Buyout Ratio:</strong> {{ buyout["buyout_ratio"] }}</td>
            </tr>
        </tbody>
    </table>

    <div class="scrollable-table contracted">
    <h3>Bought Out Seasons</h3>
    <table>
        <thead>
            <td>Season</td>
            <td>Cap Hit</td>
            <td>AAV</td>
            <td>NHL Salary</td>
            <td>Minors Salary</td>
            <td>Signing Bonus</td>
            <td>Performance Bonuses</td>
        </thead>
        <tbody>
        {% for year in buyout["bought_out_seasons"] %}
        <tr>
            <td>{{ year["season"] }}</td>
            <td>{{ "${:,}".format(year["cap_hit"]) }}</td>
            <td>{{ "${:,}".format(year["aav"]) }}</td>
            <td>{{ "${:,}".format(year["nhl_salary"]) }}</td>
            <td>{{ "${:,}".format(year["minors_salary"]) }}</td>
            <td>{{ "${:,}".format(year["signing_bonus"]) }}</td>
            <td>{{ "${:,}".format(year["performance_bonuses"]) }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class="scrollable-table buyout-seasons">
    <h3>Buyout Seasons</h3>
    <table class="bought-out">
        <thead>
            <td>Season</td>
            <td>Original Cap Hit</td>
            <td>Original Salary</td>
            <td>Signing Bonus<sup>1</sup></td>
            <td>Buyout Salary<sup>2</sup></td>
            <td>Buyout Pay<sup>3</sup></td>
            <td>Buyout Savings<sup>4</sup></td>
            <td class="look-at-me">Buyout Cap Hit<sup>5</sup></td>
        </thead>
        <tbody>
        {% for year in buyout["buyout_years"] %}
        <tr>
            <td>{{ year["season"] }}</td>
            <td>{{ "${:,}".format(year["original_cap_hit"]) }}</td>
            <td>{{ "${:,}".format(year["original_salary"]) }}</td>
            <td>{{ "${:,}".format(year["signing_bonus"]) }}</td>
            <td>{{ "${:,}".format(year["buyout_amount"]) }}</td>
            <td>{{ "${:,}".format(year["buyout_pay"]) }}</td>
            <td>{{ "${:,}".format(year["buyout_savings"]) }}</td>
            <td class="look-at-me">{{ "${:,}".format(year["buyout_cap_hit"]) }}</td>
        </tr>
        {% endfor %}
    </table>

        <div>
            <strong>Notes</strong><br/>
            1. Signing Bonuses cannot be bought out. Players are paid these in full<br/>
            2. Buyout salary is a portion of the player's remaining NHL salary (buyout ratio * original salary)<br/>
            3. Buyout pay is the buyout salary added to the player's signing bonus (buyout salary + signing bonus)<br/>
            4. Buyout savings is the difference between a player's buyout pay and their original pay (original salary + signing bonus - buyout salary)<br/>
            5. Buyout cap hit is that season's original cap hit with the buyout savings subtracted from it (original cap hit - buyout savings)
        </div>
    </div>
</div>
