{% set idx = namespace(idx=0) %}
<h3>&nbsp;</h3>
<div class="scrollable-table">
    <table id="cap-breakdown">
        <thead>
            <tr>
                <td>&nbsp;Team</td>
                <td>Contracts</td>
                <td>Cap Hit*</td>
                <td>LTIR</td>
                <td>Max LTIR</td>
                {% if show_projected %}
                <td>Projected Cap Hit</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in cap_data %}

            {% set idx.idx = idx.idx + 1 %}
            {% if idx.idx % 2 == 0 %}
            <tr class="shaded">
            {% else %}
            <tr>
            {% endif %}
                <td>
                    <a href="{{ url_for('main.team_route', team_id=row['abbreviation'].lower()) }}">
                        <img class="team-logo" alt="{{row['abbreviation']}} logo" src="{{ url_for('static', filename=row['logo']) }}">
                        {{ row["name"] }}
                    </a>
                </td>
                <td>{{ row["contracts"] }}</td>
                <td>{{ "${:,}".format(row["used_cap"]) }}</td>
                <td>{{ row["ltir_contracts"] }}</td>
                <td>{{ "${:,}".format(row["max_ltir"]) }} <!--({{ "${:,}".format(row["max_ltir"] + row["salary_cap"]) }})--></td>
                {% if show_projected %}
                    <td>{{ "${:,}".format(row["projected_cap"]) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>* Cap Hit accumulates daily during the regular season</p>
</div>
