<form method="GET">
    <label for="from"><strong>{{ title }} From: </strong></label>
    <input type="date" name="from" id="from" value="">
    <br/>
    <label for="to"><strong>{{ title }} To: </strong></label>
    <input type="date" name="to" id="to" value="">
    <br/>
    <input id="filter-dates" type="submit" value="Filter">
</form>
<script>
    let url = new URL(window.location.href);
    let toDate = url.searchParams.get("to");
    let fromDate = url.searchParams.get("from");
    document.getElementById("to").value = toDate;
    document.getElementById("from").value = fromDate;
</script>
