<tr>
    <td class="team">
        {% if pick["team"] != "NHL" %}
        <a href="/team/{{ pick['team'] }}">
            <img class="team-logo" alt="{{pick['team']}} logo (owns pick)" src="{{ url_for('static', filename=data['logos'][pick['team']]) }}">
        </a>
        {% endif %}
    </td>
    <td class="team">
        {% if pick["original"] %}
        <a href="/team/{{ pick['original'] }}">
            <img class="team-logo" alt="{{pick['original']}} logo (originated pick)" src="{{ url_for('static', filename=data['logos'][pick['original']]) }}">
        </a>
        {% else %}
        &nbsp;-
        {% endif %}
    </td>
    <td>
        {% if pick["position"] %}
        {{ pick["position"] }}
        {% else %}
        -
        {% endif %}
    </td>
    <td>
        {% if pick["player"] %}
        <a href="/person/{{ pick['player'].lower().replace(' ', '-') + '-' + pick['person_id']|string }}">{{ pick["player"] }}</a>
        {% else %}
        -
        {% endif %}
    </td>
    <td>{{ "<br/>".join(pick["note"])|safe or "-" }}</td>
</tr>
