{% set idx = namespace(idx=0) %}
<div class="scrollable-table item">
    <h3>Signings</h3>
    <table id="signings">
        <thead>
            <tr>
                <td>&nbsp;Name</td>
                <td>Team</td>
                <td>Pos'n</td>
                <td>ELC</td>
                <td>Years</td>
                <td>Total Value</td>
            </tr>
        </thead>
        <tbody>
            {% for row in signings_data %}

            {% set idx.idx = idx.idx + 1 %}
            {% if idx.idx % 2 == 0 %}
            <tr class="shaded">
            {% else %}
            <tr>
            {% endif %}
                <td>
                    <a href="{{ url_for('main.person_route', person_id=row['url_id']) }}">
                        {{ row["person_name"] }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('main.team_route', team_id=row['team'].lower()) }}">
                        <img class="team-logo" alt="{{row['team']}} logo" src="{{ url_for('static', filename=row['team_logo']) }}">
                    </a>
                </td>
                <td>{{ row["position"] }}</td>
                <td>
                    {% if row["entry_level"] %}
                    ✅
                    {% endif %}
                </td>
                <td>{{ row["years"] }}</td>
                <td>{{ "${:,}".format(row["value"]) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
