{% set idx = namespace(idx=0) %}
<div class="scrollable-table item">
    <h3>Free Agents</h3>
    <table id="free-agents">
        <thead>
            <tr>
                <td>&nbsp;Name</td>
                <td>Last Team</td>
                <td>Pos'n</td>
                <td>RFA</td>
                <td>Last AAV</td>
            </tr>
        </thead>
        <tbody>
            {% for row in free_agents %}

            {% set idx.idx = idx.idx + 1 %}
            {% if idx.idx % 2 == 0 %}
            <tr class="shaded">
            {% else %}
            <tr>
            {% endif %}
                <td>
                    <a href="{{ url_for('main.person_route', person_id=row['url_id']) }}">
                        {{ row["name"] }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('main.team_route', team_id=row['last_team']['abbreviation'].lower()) }}">
                        <img class="team-logo" alt="{{row['last_team']['abbreviation']}} logo" src="{{ url_for('static', filename=row['last_team']['logo']) }}">
                    </a>
                </td>
                <td>{{ row["position"] }}</td>
                <td>
                    {% if "RFA" in row["status"] %}
                    ✅
                    {% endif %}
                </td>
                <td>{{ "${:,}".format(row["last_aav"]) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
