{% if data["team"].name == logo["name"] and data["logos"]|length > 1 %}
<div class="team shade">
{% else %}
<div class="team">
{% endif %}
    <h3>{{ logo["name"] }}</h3>
    <div class="row">
        {% for design in logo["logos"] %}
        <div class="display">
            <div class="seasons">
            {% if design["first_season"] != design["last_season"] %}
                <strong>First Season:</strong> {{ design["first_season"] }}
                <br/>
                <strong>Last Season:</strong> {{ design["last_season"] }}
            {% else %}
                <strong>Season:</strong> {{ design["first_season"] }}
            {% endif %}
            </div>
            <!--img alt="{{ logo['name'] }} logo from {{ design['first_season'] }} to {{ design['last_season'] }}" src="{{ url_for('static', filename=design['logo']) }}"/-->
            <object type="image/svg+xml" data="{{ url_for('static', filename=design['logo']) }}">
                {{ logo['name'] }} logo from {{ design['first_season'] }} to {{ design['last_season'] }}
            </object>
        </div>
        {% endfor %}
    </div>
</div>
