<div class="rosters scrollable-table">
<h2>Non-Roster</h2>
<p>Money in parentheses is the base NHL cap hit</p>
<table class="roster">
{% set idx = namespace(idx=0) %}
{% for reason, players in data["non_roster"].items() %}
    <tbody>
        <tr class="head">
            <td class="name">{{ reason.capitalize() }}</td>
            <td>Position</td>
            <td>Age</td>
            {% if "expiration_status" in players[0] %}
                {% set exp = namespace(has=True) %}
                <td>Expires As</td>
            {% else %}
                {% set exp = namespace(has=False) %}
                <td></td>
            {% endif %}
                <td></td>
            {% for season in seasons %}
                <td>{{ season[0] }}</td>
            {% endfor %}
            <td></td>
        </tr>
    {% for person in players %}
        {% set idx.idx = idx.idx + 1 %}
        {% if idx.idx % 2 == 1 %}
        <tr>
        {% else %}
        <tr class="shaded">
        {% endif %}
            <td class="name">
                <a href='{{ url_for("main.person_route", person_id=person['url_id']) }}'>{{ person["name"] }}</a>
                {% if "retention" in person and person["retention"] < 100 and person["retention"] > 0 %}
                (Ret: {{ person["retention"] }}%)
                {% endif %}
                {% if "type" in person %}
                ({{ person["type"] }})
                {% endif %}
                {% if "waivers_exempt" in person and person["waivers_exempt"] %}
                <span title="Waivers exempt">🚌</span>
                {% endif %}
            </td>
            <td>{{ person["position"] }}</td>
            <td>{{ get_age(person["birthdate"]) }}</td>
            {% if exp.has and "expiration_status" in person %}
                <td>{{ person["expiration_status"] }}</td>
            {% elif exp.has %}
                <td>-</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if person["years"]|length == 0 %}
                <td></td>
            {% elif person["in_juniors"] %}
                <td>In Juniors</td>
            {% elif person["on_loan"] %}
                <td>On Loan</td>
            {% elif person["non_roster"] %}
                <td>Minors</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if reason == "future" %}
            <td>&mdash;</td> {# Can only sign for next season. No further. Buffer years out one #}
            {% endif %}

            {% for idx in range(seasons|length) %}
                {% if idx < person["years"]|length %}
                <td>
                    {{  "${:,}".format(person["years"][idx]["cap_hit"]) or "" }}
                    {% if reason == "non-roster" %}
                    <br/>({{ "${:,}".format(person["years"][idx]["cap_hit"]+person["years"][idx]["amount_buried"]) }})
                    {% endif %}
                </td>
                {% else %}{# fill empty columns #}
                <td></td>
                {% endif %}
            {% endfor %}
            {% if "display_overflow" in person %}
                <td>+</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr style="height: 1rem"></tr>
    </tbody>
{% endfor %}
</table>
</div>
