{% if contract["current"] and idx.idx % 2 == 0 %}
<div class="contract current shaded scrollable-table">
{% elif contract["current"] and idx.idx % 2 == 1 %}
<div class="contract current scrollable-table">
{% elif idx.idx % 2 == 0 %}
<div class="contract shaded scrollable-table">
{% else %}
<div class="contract scrollable-table">
{% endif %}
    {% if contract["current"] %}
    <h3>Current</h3>
    {% endif %}
    <strong class="underbar">
    {% if contract["entry_level"] %}
    Entry Level Contract
    {% elif contract["thirty_five_plus"] %}
    Thirty-Five+ Contract
    {% else %}
    Standard Contract
    {% endif %}

    {% if contract["extension"] %}
    (Extension)
    {% endif %}
    </strong>
    {% if "buyout_date" in contract %}
    <strong class="buyout">
        <br/>Bought Out - {{ contract["buyout_date"] }}
    </strong>
    {% endif %}
    {% if "termination_date" in contract %}
    <strong class="terminate">
        <br/>Terminated - {{ contract["termination_date"] }}
    </strong>
    {% endif %}
    {% if contract["offer_sheet"] %}
    <strong class="offer-sheet">
        <br/>Offer Sheet
    </strong>
    {% endif %}
    <table class="detail">
        <tbody>
            <tr>
                <td colspan="2"><h4>Total Value: {{ "${:,}".format(contract["total_value"]) }} </h4></td>
            </tr>
            <tr>
                <td><strong>Seasons:</strong> {{ contract["seasons"] }}</td>
                <td><strong>Signing Date:</strong> {{ contract["signing_date"] }}</td>
            </tr>
            <tr>
                <td><strong>Expiration Status:</strong> {{ contract["expires_as"] }}</td>
                <td>
                    <strong>Signing Team:</strong>
                    <a href="{{ url_for('main.team_route', team_id=contract['abbreviation']) }}")>
                        <img 
                            class="contract-logo"
                            alt="{{contract['signing_team']}} logo"
                            src="{{ url_for('static', filename=contract['logo']) }}"
                        /> 
                        {{ contract["signing_team"] }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="seasons">
        <tbody>
        <tr class="head">
            <td>Season</td>
            <td>Cap Hit</td>
            <td>AAV</td>
            <td>NHL Salary</td>
            <td>Minors Salary</td>
            <td>Signing Bonus</td>
            <td>Perf. Bonuses</td><!-- Gray out if unearned? -->
            <td>Clause</td>
        </tr>
        {% for year in contract["years"] %}
        {% if year["bought_out"] %}
        <tr class="buyout">
        {% elif year["terminated"] %}
        <tr class="terminated">
        {% elif year["season"] == current_season %}
        <tr class="current_season">
        {% else %}
        <tr>
        {% endif %}
            {% if "entry_level_slide" in year %}
            <td>{{ year["season"] }}</td>
            <td>{{ "${:,}".format(year["cap_hit"]) }}</td>
            <td>{{ "${:,}".format(year["aav"]) }}</td>
            <td colspan="2">--- Entry Level Slide ---</td>
            <td>{{ "${:,}".format(year["signing_bonus"]) }}</td>
            <td></td>
            {% else %}
            <td>{{ year["season"] }}</td>
            <td>
                {% if year["pre_cap"] %}
                -
                {% else %}
                {{ "${:,}".format(year["cap_hit"]) }}
                {% endif %}
            </td>
            <td>
                {% if year["pre_cap"] %}
                -
                {% else %}
                {{ "${:,}".format(year["aav"]) }}
                {% endif %}
            </td>
            <td>{{ "${:,}".format(year["nhl_salary"]) }}</td>
            <td>
                {% if year["pre_cap"] %}
                -
                {% else %}
                {{ "${:,}".format(year["minors_salary"]) }}
                {% endif %}
            </td>
            <td>{{ "${:,}".format(year["signing_bonus"]) }}</td>
            <td>{{ "${:,}".format(year["performance_bonuses"]) }}</td>
            <td>
                <div class="clause"
                {% if year["clause_limits"] %}
                title="{{ year['clause_limits'] }}"
                {% endif %}
                >
                {% if year["ntc"] and year["nmc"] and year["clause_limits"] %}
                NMC, M-NTC
                {% elif year["ntc"] and year["nmc"] %}
                NMC, NTC
                {% elif year["nmc"] and year["clause_limits"] %}
                M-NMC
                {% elif year["nmc"] %}
                NMC
                {% elif year["ntc"] and year["clause_limits"] %}
                M-NTC
                {% elif year["ntc"] %}
                NTC
                {% endif %}
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>

    {% if "buyout_date" in contract %}
        <tr>
            <td><strong>Buyout Years</strong></td>
        </tr>
        <tbody>
        <tr class="head">
            <td>Season</td>
            <td>Cap Hit</td>
            <td>Buyout Pay (incl. signing bonus)</td>
            <td>Signing Bonus</td>
        </tr>
        {% for year in contract["buyout_years"] %}
        {% if year["season"] == current_season %}
        <tr class="current_season">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ year["season"] }}</td>
            <td>{{ "${:,}".format(year["cap_hit"]) }}</td>
            <td>{{ "${:,}".format(year["nhl_salary"]) }}</td>
            <td>{{ "${:,}".format(year["signing_bonus"]) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    {% endif %}

    {% if "penalty_years" in contract %}
        {% for penalty in contract["penalty_years"] %}
            <tr>
                <td colspan="2"><strong>{{ penalty["type"] }} - {{ penalty["team"] }}</strong></td>
            </tr>
            <tbody>
            <tr class="head">
                <td>Season</td>
                <td>Cap Hit</td>
            </tr>
            {% for year in penalty["years"] %}
            {% if year["season"] == current_season %}
            <tr class="current_season">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ year["season"] }}</td>
                <td>{{ "${:,}".format(year["cap_hit"]) }}</td>
            </tr>
            {% endfor %}
            </tbody>
            {% endfor %}
        {% endif %}
    </table>
    {% if contract["notes"]|length > 0 %}
    <div class="contract-notes">
        <ul>
            {% for note in contract["notes"] %}
            <li>
                {% if note["safe"] %}
                {{ note["note"]|safe }}
                {% else %}
                {{ note["note"] }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <a
        class="edit"\
        href="{{ url_for('admin.display_notes', record_id=contract['id'], table='contract') }}"
    >
        <strong>Edit Notes</strong>
    </a>
</div>
