<h2>People</h2>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Position</td>
            <td>Age</td>
            <td>Nationality</td>
            <td>Team</td>
        </tr>
    </thead>
    <tbody>
    {% set idx = namespace(idx=0) %}
    {% for person in data %}
    {% set idx.idx = idx.idx + 1 %}
        {% if idx.idx % 2 == 0 %}
        <tr>
        {% else %}
        <tr class="shaded">
        {% endif %}
            <td>
                <a href="{{ url_for('main.person_route', person_id=person['name'].lower().replace(' ', '-') + '-' + person['id']|string) }}">
                    {{ person["name"] }}
                </a>
                {% if person["deceased"] %}
                🪦
                {% endif %}
            </td>
            <td>{{ person["position"] }}</td>
            <td>{{ person["age"] }}</td>
            <td>{{ person["nationality"] }}</td>
            <td>
                {% if person["team"] %}
                <a class="person-team" href="{{ url_for('main.team_route', team_id=person['team']['id']) }}">
                    <img alt="{{ person['team']['abbreviation'] }} logo" src="{{ url_for('static', filename=person['team']['logo']) }}" class="team-logo">
                    <div class="team-name">{{ person["team"]["abbreviation"]}}</div>
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="5"><strong>🪦 if deceased</strong></td>
        </tr>
    </tbody>
</table>
