<h2><a href="{{ url_for('main.person_route', person_id=data['url_id']) }}">{{ data["name"] }}</a></h2>
<ul>
    <li>Qualifying Offer: {{ "${:,}".format(data['qualifying_salary']) }}</li>
    <li id="one_way">{{ "One Way" if data['one_way'] else "Two Way" }}</li>
    <li>Previous Salary (no signing bonuses): {{ "${:,}".format(data['last_salary']) }}</li>
    <li>Previous AAV: {{ "${:,}".format(data['last_aav']) }}</li>
</ul>
<p><br/></p>

<h4>Previous NHL Stats</h4>
<div class="scrollable-table stats">
    <table>
        <thead>
            <tr>
                <td>Season</td>
                {% for item in data['stat_names'] %}
                <td>{{ item.replace("_", " ").title() }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data['stats'] %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p><br/>Exceptions to the one-way games played criteria. If a player meets these reduced limits, their offer would be one way</p>

<div class="scrollable-table data">
    <table>
        <thead>
            <tr>
                <td>Previous Season</td>
                <td>Last Season GP</td>
                <td>Last Three Seasons GP</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2022-2023</td>
                <td>60</td>
                <td>161</td>
            </tr>
            <tr>
                <td>2021-2022</td>
                <td>60</td>
                <td>152 (161)*</td>
            </tr>
            <tr>
                <td>2020-2021</td>
                <td>41</td>
                <td>152 (161)*</td>
            </tr>
            <tr>
                <td>2019-2020</td>
                <td>51 (60)*</td>
                <td>171 (180)*</td>
            </tr>
            <tr>
                <td>2012-2013</td>
                <td>36</td>
                <td>156</td>
            </tr>
        </tbody>
    </table>
</div>
<p>* Higher bar applies to non-covid roster freeze players. A covid roster freeze player is one who was in the NHL when the covid roster freeze was implemented (5PM ET 16 March 2020) and who had played at least one NHL game during the 2019-2020 NHL season</p>
