<tr class="head">
    <td class="number">#</td>
    <td class="name">
        {{ header }}
    </td>
    <td>Clause</td>
    <td>Position</td>
    <td>Age</td>
    <td>Expires As</td>
    {% for season in seasons %}
        <td>{{ season[0] }}</td>
    {% endfor %}
    <td></td>
</tr>
