<!--Teal is the color of shame-->
<h2>Draft Picks</h2>
<div class="scrollable-table">
    <table class="team_picks">
        <thead>
            <td>Season</td>
            <td>Round 1</td>
            <td>Round 2</td>
            <td>Round 3</td>
            <td>Round 4</td>
            <td>Round 5</td>
            <td>Round 6</td>
            <td>Round 7</td>
        </thead>
        <tbody>
            {% set pick_meta = namespace(round=None, background=False) %}
            {% for season in data["draft_picks"] %}
                {% if pick_meta.background %}
                <tr class="shaded">
                {% else %}
                <tr>
                {% endif %}
                {% set pick_meta.background = not pick_meta.background %}

                <td class="season">{{ season["season"] }}
                {% for pick in season["picks"] %}

                    {# At a new round, start a new cell, otherwise newline #}
                    {% if pick_meta.round != pick["round"] %}
                    </td>
                    <td>
                    {% else %}
                    <!--br/-->
                    {% endif %}
                    {% set pick_meta.round = pick["round"] %}

                    {# Gray out picks traded away #}
                    <span
                    {% if pick["traded_away"] %}
                    class="traded_away traded"
                    {% elif pick["traded"] %}
                    class="traded"
                    {% endif %}
                    {% if "title" in pick %}
                    title="{{pick['title']}}"
                    {% endif %}
                    >
                    <img class="logo" alt="{{pick['team']}} logo" src="{{ url_for('static', filename=pick['logo']) }}"/>
                    {# Asterisk for trade conditions #}
                    {% if pick["condition"] %}
                    *
                    {% endif %}
                    </span>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
