<h2>{{ section_title or "Teams" }}</h2>

<ul>
    {% for team in data %}
    <li>
        <a class="team-link" href="{{ url_for('main.team_route', team_id=team['id']) }}">
            <img alt="{{team['name']}} logo" src="{{ url_for('static', filename=team['logo']) }}">
            <div class="team">{{ team["name"] }}</div>
        </a>
    </li>
    {% endfor %}
</ul>
