<div class="trade-team">
    <strong>To {{ team["name"] }}</strong>
</div>
<div class="trade-assets">
    {% for pick in picks %}
    <div>
        {{ pick["originating_team"] }}
        {{ pick["season"] }} round {{ pick["round"] }}
        {% if pick["position"] %}
        (#{{ pick["position"] }})
        {% endif %}
        {% if pick["condition"] %}
            [{{ conditions.count }}]
            {% set conditions.count = conditions.count + 1 %}
            {% set conditions.details = conditions.details + [pick["condition"]] %}
        {% endif %}
    </div>
    {% endfor %}
    <div class="type-split"></div>
    {% for player in contracts %}
    <div>
        <strong><a href="{{ url_for('main.person_route', person_id=player['url_id']) }}">{{ player["name"] }}</a></strong><br/>
        {% if player["type"] == "Signing Rights" %}
            Signing Rights
        {% else %}
            {% if player["retention"] %}
            (Cap Hit: {{ "${:,}".format(player["cap_hit"]) }};
            &nbsp;{{ player["retention"] }})
            {% else %}
            (Cap Hit: {{ "${:,}".format(player["cap_hit"]) }})
            {% endif %}
        {% endif %} 
    </div>
    {% endfor %}
    {% if considerations %}
    <div>Future Considerations</div>
    {% endif %}
</div>
