{% set date = namespace(val="1900-01-01") %}
{% for move in data %}
<tr class="team_{{ move['team_id'] }}">
    <td>
        {% if move["date"] != date.val %}
        {% set date.val = move["date"] %}
        <span>
        {% else %}
        <span class="hide">
        {% endif %}
        {{ move["date"] }}
        </span>
    </td>
    <td>
        <a class="team" href="{{ url_for('main.team_route', team_id=move['abbreviation']) }}">
            <img class="logo" alt="{{move['team']}} logo" src="{{ url_for('static', filename=move['logo']) }}"/>
            <div class="team-name">{{ move["team"] }}</div>
        </a>
    </td>
    <td>
        <a href="{{ url_for('main.person_route', person_id=move['player_url']) }}">
            {{ move["player"] }}
        </a>
    </td>
    <td>{{ move["type"] }}</td>
    <td class="note">
    {% for note in move["notes"] %}
        {{ note["note"]|safe }}
    {% endfor %}
    </td>
</tr>
{% endfor %}
