<div class="contract
{% if tryout["active"] %}
 current 
{% endif %}
{% if idx.idx % 2 == 0 %}
 shaded 
{% endif %}
">

<strong class="underbar">{{ tryout["pto"] }}</strong>
    <ul>
        <li>
            <strong>Signing Date:</strong>
            {{ tryout["signing_date"] }}
        </li>
        <li>
            <strong>Signing Team:</strong> 
            <a href="{{ url_for('main.team_route', team_id=tryout['abbreviation']) }}">
                <img 
                    class="contract-logo"
                    alt="{{tryout['signing_team']}} logo"
                    src="{{ url_for('static', filename=tryout['logo']) }}"
                /> 
                {{ tryout["signing_team"] }}
            </a>
        </li>
    </ul>
</div>
