{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<h3>Who</h3>
<p>
    Hi, I'm Ian.
</p>

<h3>What</h3>
<p>
    It's both a teach-yourself-webdev project and a tribute to CapGeek, which I always loved.
</p>

<h3>Where</h3>
<p>
    Uhh ... idk. I built this at my desk, its first hosting was with pythonanywhere.
    It's not fully launched yet, but that may happen somewhere else.
</p>

<h3>When</h3>
<p>
    I don't know if this is relevant, but it's one of the standard question words.
    Throughout covid from around when vaccines became available.
</p>

<h3>Why</h3>
<p>
    CapGeek was a masterpiece, and it was a sad day when it shut down.
    General Fanager was great, but the creator was hired away.
    Capfriendly is spectacular, but it became popular as I got more into coding and as building a CapGeek-like site became more feasible for me.
</p>
<p>
    I wanted to learn how to build websites, and this seemed like a great project to do so.
    It starts with some pretty standard pages - read from database, display data.
    Buyouts and trades proposals added some interactivity and javascript.
    They were a great starting point for the admin interface which added more javascript and database writes.
</p>

<h3>How</h3>
<ul>
    <li>python</li>
    <li>flask</li>
    <li>jinja</li>
    <li>sqlalchemy</li>
    <li>a sprinkling of javascript</li>
</ul>
<p>
    With thanks to Miguel Grinberg and his
    <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
        flask megatutorial.
    </a>
    It was a great place to start from, and a lot of user management comes directly from there.
    Beyond that, it quickly diverged.
</p>

<h3>Limits</h3>
<p>
    The data here isn't as complete as I'd like it.
    Everybody currently with an NHL contract has their full cap-era contract history.
    Other players are being back-populated.
    Entry drafts only go back to the start of the cap era but will be back-populated.
    Old trades aren't populated. This ... is going to be a pain, but will eventually be back-populated as well.
    And of course, the Atlanta Thrashers are listed as the Winnipeg Jets. I'll figure something out around that eventually.
</p>
<p>
    The code that checks whether a player is waivers exempt doesn't always work quite right.
    If you notice a player is marked as waivers exempt when they aren't (or vice versa), please let me know.
    I think it might be a data issue more than a logic issue.
</p>

{% endblock %}
