{% extends "base.html" %}

{% block content %}
<h1>Acknowledgements</h1>
<p>In no particular order ...</p>

<ul>
    <li>Eric, for the website's name</li>
    <li>Jo, for enthusiasm about this project</li>
    <li>Eric again, for being enthusiastic and having ideas about how things look</li>
    <li>Thomas, for design ideas (esp. on team pages)</li>
    <li>Neal, for occasional nerd rants</li>
    <li>Chris, for letting me play with some of his design elements for my trade page</li>
    <li>Everybody on the scorch/happy potato server, for putting up with my screenshots and progress videos</li>
</ul>

<h2>Research thanks</h2>
<ul>
    <li>capgeek.com, for inspiring this all</li>
    <li>The Noun Project and Wikimedia Commons, for the website logo</li>
    <li>records.nhl.com, for showing me nice SVG versions of historical NHL team logos</li>
    <li>sportslogos.net, for giving me an idea of what logos to look for</li>
    <li>eliteprospects.com, for their free player stats API</li>
    <li>capfriendly.com, for not having a decent mobile layout</li>
    <li>MDN, for the endless JS research</li>
    <li>CSS Tricks, for collapsible menus</li>
    <li>The Flask Megatutorial, for giving me a starting point</li>
</ul>
{% endblock %}
