{% extends "base.html" %}

{% block content %}
    {% if "error" in data %}
        <div>No data: {{ data["error"] }}</div>
    {% else %}
        <div>
            <h2 class="underbar">Buyout Details: <a href="/person/{{ data['name'].replace(' ', '-').lower() }}">{{ data["name"] }}</a></h2>

            {% set buyout = data["buyout"] %}
            {% include "_buyout_details.html" %}

            <!--
            <div class="contract details">
                <h3>Original Contract</h3>
                {#% set contract = data["contract"] %#}
                {#% set idx = namespace(idx=0) %#}
                {#% include "_person_contract.html" %#}
            </div>
            -->
        </div>
    {% endif %}

{% endblock %}
