{% extends "base.html" %}

{% block content %}
{% set idx = namespace(idx=0) %}

<table>
    <tr>
        <td>
            <h1>{{ data["team"].name }} - Daily Cap Tracking</h1>
            <h3>{{ data["season"] }}</h3>
            <a href="{{ url_for('main.team_route', team_id=data['team'].abbreviation.lower()) }}">Roster Link</a>
            <br/>
            <form method="GET">
                <label for="season">
                    <strong>Season:</strong>
                </label>
                <select id="season" name="season">
                    <option value="" selected>-- None --</option>
                    {% for season in data["seasons"] %}
                    <option value="{{ season }}">{{ season }}</option>
                    {% endfor %}
                </select>
                <input id="select" type="submit" value="Select"/>
            </form>
        </td>
        <td style="text-align: right;">
            <img class="logo" alt="{{data['team'].name}} logo" src="{{ url_for('static', filename=data['team'].logo) }}"> 
        </td>
    </tr>
</table>

<table>
    <tbody>
        <tr class="head">
            <td class="name">Roster</td>
            <td>Yearly NHL Cap Hit</td>
            <td>Accumulated Cap</td>
            <td>Projected Total Cap</td>
            <td>NHL</td>
            <td>Non Roster</td>
            <td>Total Days</td>
            <td></td>
            <td>&nbsp;IR</td>
            <td>LTIR</td>
            <td>SOIR</td>
        </tr>
    {% set headers = namespace(non_roster=False, retained=False) %}
    {% for row in data["roster"] %}
    {% set idx.idx = idx.idx + 1 %}
    {% if row["non_roster"] and headers.non_roster == False %}
        {% set headers.non_roster = True %} <tr style="height: 1rem"></tr> </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Non Roster</td>
            <td>Yearly NHL Cap Hit</td>
            <td>Accumulated Cap</td>
            <td>Projected Total Cap</td>
            <td>NHL</td>
            <td>Non Roster</td>
            <td>Total Days</td>
            <td></td>
            <td>&nbsp;IR</td>
            <td>LTIR</td>
            <td>SOIR</td>
        </tr>
    {% elif row["retained"] and headers.retained == False %}
        {% set headers.retained = True %}
        <tr style="height: 1rem"></tr>
    </tbody>
    <tbody>
        <tr class="head">
            <td class="name">Retained</td>
            <td>Yearly NHL Cap Hit</td>
            <td>Accumulated Cap</td>
            <td>Projected Total Cap</td>
            <td>NHL</td>
            <td>Non Roster</td>
            <td>Total Days</td>
            <td></td>
            <td>&nbsp;IR</td>
            <td>LTIR</td>
            <td>SOIR</td>
        </tr>
    {% endif %}
        {% if idx.idx % 2 == 0 %}
        <tr>
        {% else %}
        <tr class="shaded">
        {% endif %}
            <td class="name">
                <a href="{{ url_for('main.person_route', person_id=row['url_id']) }}">{{ row["person_name"] }}</a>
            </td>
            <td>{{ "${:,}".format(row["cap_hit"]) }}</td>
            <td>{{ "${:,}".format(row["accumulated_cap"]) }}</td>
            <td>{{ "${:,}".format(row["projected_cap"]) }}</td>
            <td>{{ row["nhl_days"] }}</td>
            <td>
                {% if row["minors_days"] %}
                {{ row["minors_days"] }}
                {% endif %}
            </td>
            <td>{{ row["total_days"] }}</td>
            <td style="background-color: black;"></td>
            <td>
                &nbsp;
				{% if row["ir_days"] %}
                {{ row["ir_days"] }}
                {% endif %}
            </td>
            <td>
				{% if row["ltir_days"] %}
                {{ row["ltir_days"] }}
                {% endif %}
            </td>
            <td>
				{% if row["soir_days"] %}
                {{ row["soir_days"] }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if data["roster"]|length == 0 %}
<h3 class="head">No Daily Cap data available</h3>
{% endif %}

{% endblock %}
