{% extends "base.html" %}

{% block content %}
<div class="team">
    <img 
        class="team-logo"
        alt="{{ team.name }} team logo"\
        src="{{ url_for('static', filename=team.logo) }}"
    /> 
    <div>
        <h2>{{ team.name }} ({{ team.abbreviation }})</h2>
        <div>Est. {{ team.first_year or 0000 }}</div>
        <a
            title="Team logo history"
            href="{{ url_for('main.team_logo_page', team_id=team.abbreviation.lower()) }}"
        >
            Team logo history
        </a>
    </div>
    {% if predecessor or successor %}
    <div>
        {% if predecessor %}
        Preceded by:
        <a
            href="{{ url_for('main.team_route', team_id=predecessor.abbreviation.lower()) }}"
        >
            {{ predecessor.name }} ({{predecessor.abbreviation }})
        </a>
        {% endif %}
        <br/>
        {% if successor %}
        Suceeded by: 
        <a
            href="{{ url_for('main.team_route', team_id=successor.abbreviation.lower()) }}"
        >
            {{ successor.name }} ({{successor.abbreviation }})
        </a>
        {% else %}
        Now Defunct
        {% endif %}
    </div>
    {% endif %}
</div>

{% if notes|length > 0 %}
    <div class="notes">
    {% for note in notes %}
        <div>{{ note.note|safe }}</div>
    {% endfor %}
    </div>
{% endif %}

{% with table="team", record=team.id %}
    {% include "_notes.html" %}
{% endwith %}

{% endblock %}
