{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate class="adjacent">
    {{ form.hidden_tag() }}
    <div class="form-question">
        <strong>{{ form.season.label }}</strong>
        {{ form.season() }}
        {% for error in form.season.errors %}
        <br/><span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-question">
        {{ form.submit() }}
    </div>
</form>
<form>
    <label class="form-question">
        <strong>Team Filter</strong>
        <select id="team-filter" value="">
            <option value=""></option>
            {% for team in data["teams"] %}
            <option value="{{team}}">{{ team }}</option>
            {% endfor %}
        </select>
    </label>
</form>

<div class="picks scrollable-table">
    <h2>Selections</h2>
    <table id="draft">
        <tbody>
            {% set idx = namespace(round=1) %}
            <tr class="header">
                <td colspan="5">Round {{idx.round}}</td>
            </tr>
            <tr class="header">
                <td class="team">Team</td>
                <td class="team">Original</td>
                <td>Position</td>
                <td>Player</td>
                <td>Notes</td>
            </tr>
            {% for pick in data["picks"] %}
                {% if pick["round"] != idx.round %}
                    {% set idx.round = idx.round + 1 %}
                    <tr style="height: 1rem"></tr>
                    <tr class="header">
                        <td colspan="5">Round {{idx.round}}</td>
                    </tr>
                    <tr class="header">
                        <td></td>
                        <td class="team">Team</td>
                        <td class="team">Original</td>
                        <td>Player</td>
                        <td>Notes</td>
                    </tr>
                {% endif %}
                {% include "_draft_line.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% if data["picks"] == [] %}
    <h3>No draft picks in database</h3>
    {% endif %}
</div>

{% with table="draft_pick", record="" %}
    {% include "_notes.html" %}
{% endwith %}

 <script src="{{ url_for('static', filename='js/draft_filter.js') }}"></script>

{% endblock %}
