{% extends "base.html" %}

<!--
"id": person[0]
"name": person[1]
"status": person[5],
"age": today.year - person[2].year - ((today.month, today.day) < (person[2].month, person[2].day)),
"position": person[3],
"handed": person[4],
-->
{% block content %}
<h2>{{ title }}</h2>
<div class="scrollable-table">
    <table class="agents">
        <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Position</td>
            <td>Handed</td>
            <td>Status</td>
            <td>Last Team</td>
            <td>Last AAV</td>
        </tr>
        </thead>

        <tbody>
            {% for person in data %}
            <tr>
                <td><a href="{{ url_for('main.person_route', person_id=person['url_id']) }}">{{ person['name'] }}</a></td>
                <td>{{ person['age'] }}</td>
                <td>{{ person['position'] }}</td>
                <td>{{ person['handed'] }}</td>
                <td>{{ person['status'] }}</td>
                <td>
                    {% if person['last_team']['id'] %}
                    <a class="team" href="{{ url_for('main.team_route', team_id=person['last_team']['abbreviation'].lower())}}">
                        <img class="logo" alt="{{person['last_team']['abbreviation']}} logo" src="{{ url_for('static', filename=person['last_team']['logo']) }}">
                        {{ person['last_team']['abbreviation'] }}
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if person['last_aav'] %}
                    {{ "${:,}".format(person['last_aav']) }}
                    {% else %} 
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/free_agents.js') }}"></script>

{% endblock %}
