{% extends "base.html" %}

{% block content %}
<div class="tabs">
    <input id="cap-situation" name="choose" class="tab-select" type="radio" checked>
    <input id="free-agents" name="choose" class="tab-select" type="radio">
    <p><strong>You can use the arrow keys to swap between tabs</strong></p>
    <div class="tab-menu">
        <label for="cap-situation"><h3>Cap Situation</h3></label>
        <label for="free-agents"><h3>Free Agents</h3></label>
    </div>
    <div class="tab">
        {% with cap_data=data["cap"], show_projected=data["show_projected_cap"] %}
            {% include "_cap_breakdown.html" %}
        {% endwith %}
    </div>
    <div class="tab">
        <div class="space-items">
            {% with signings_data=data["signings"] %}
                {% include "_homepage_signings.html" %}
            {% endwith %}
            {% with free_agents=data["free_agents"] %}
                {% include "_homepage_free_agents.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
