{% extends "base.html" %}

{% block content %}
<h1>{{ data["team"].name }} Logo History</h1>

<svg id="timeline" viewBox="0 0 100 8">
    <style>
        text {
            font-size: 1.25px;
            display: none;
        }

        .line {
            display: none;
        }

        g:hover * {
            display: block;
        }

        g:hover .line {
            z-index: 1;
        }
    </style>
    <defs>
        <marker
            id="arrow"
            viewBox="0 0 10 10"
            refX="5"
            refY="5"
            markerWidth="5"
            markerHeight="5"
            orient="auto-start-reverse">
            <path d="M 0 0 L 10 5 L 0 10 z" />
        </marker>
    </defs>
    <title>{{ data["team"].name }} Logo Timeline</title>
    <path id="line" stroke="#000" stroke-width="0.25" style="fill: #000" d="M 0 3 L 99 3"/>
</svg>

<div class="logo-display">
{% set details = namespace(count=0, team="") %}
    {% for logo in data["logos"] %}
        {% if details.team != logo["name"] %}
            {% set details.count = details.count + 1 %}
            {% set details.team = logo["name"] %}
        {% endif %}
        {% include "_logo_display.html" %}
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/logo_timeline.js') }}"></script>
{% endblock %}
