{% extends "base.html" %}

{% block content %}

<div class="scrollable-table person">
    <h2>
        {{ data["name"] }}
        {% if data["number"] %}
            #{{ data["number"] }}
        {% endif %}
        {% if data["waivers_exempt"] %}
            <span title="Waivers exempt">🚌</span>
        {% endif %}
        {% if "IR" in data["current_status"] %}
            <span title="Injured">🇨🇭</span>
        {% endif %}
        {% if "Suspended" in data["current_status"] %}
            <span title="Suspended">🧑‍⚖️</span>
        {% endif %}
        {% if data["hall_of_fame"] %}
            <span title="Hall of Fame">🏆</span>
        {% endif %}
    </h2>

    <div class="bio_container">
        <table class="bio"><tbody>
            <tr>
                <td><strong>Birthdate:</strong> {{ data["birthdate"] or "Unknown" }}</td>
                <td>
                    <strong>{{ "Catches" if data["position"] == "G" else "Shoots" }}:</strong>
                    {% if data["shoots"] == "L" %}
                        Left
                    {% elif data["shoots"] == "R"  %}
                        Right
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <strong>Draft Year:</strong> 
                    {% if data["draft_year"] == "Undrafted" %}
                        {{ data["draft_year"] }}
                    {% else %}
                        <a
                            target="_blank"
                            href="{{ url_for('main.entry_draft_season', year=data['draft_year']) }}"
                        >{{ data["draft_year"] }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Age:</strong> {{ age }}
                    {% if death %}
                    (Deceased: {{ death }})
                    {% endif %}
                </td>
                <td><strong>Position:</strong> {{ data["position"] or "Unknown" }}</td>
                <td><strong>Draft Round:</strong> {{ data["draft_round"] }}</td>
            </tr>
            <tr>
                <td><strong>Birthplace:</strong> {{ data["birthplace"] or "Unknown" }}</td>
                <td><strong>Height:</strong> {{ data["height"] }}</td>
                <td>
                    <strong>Draft Position:</strong> {{ data["draft_position"] or "N/A" }}
                    {% if "draft_overall" in data %}
                        ({{ data["draft_overall"] }} OA)
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Nationality:</strong> {{ data["nationality"] or "Unknown" }}</td>
                <td><strong>Weight:</strong> {{ data["weight"] or "N/A" }}</td>
                <td>
                    <strong>Draft Team:</strong>
                    {{ data["draft_team"] }}
                    {% if data["draft_logo"] %}
                        <img
                            class="contract-logo"
                            src="{{ url_for('static', filename=data['draft_logo']) }}"
                            alt="{{ data['draft_team'] }} logo"
                        />
                    {% endif %}
                </td>
            </tr>
            {% if data["aliases"]|length > 0 %}
            <tr>
                <td colspan="3">
                    <strong>Aliases: </strong> {{ ", ".join(data["aliases"]) }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="3">
                    <strong>Icons:</strong>
                    <span title="Waivers exempt">🚌</span>=Waivers exempt
                    <span title="Injured">🇨🇭</span>=Injured
                    <span title="Suspended">🧑‍⚖️</span>=Suspended
                    <span title="Hall of Fame">🏆</span>=Hall of Fame
                </td>
            </td>
        </tbody></table>
        {% if data["current_team"]["name"] %}
        <a href="{{ url_for('main.team_route', team_id=data['current_team']['abbreviation']) }}">
            <img class="current_team" src="{{ url_for('static', filename=data['current_team']['logo']) }}" alt="{{ data['current_team']['name'] }} logo"/>
        </a>
        {% endif %}
    </div>
</div>

<a id="edit" class="edit" href="{{ url_for('admin.update_person', person_id=data['id']) }}">
    <strong>Edit Person</strong>
</a>

<div class="contracts">
    {% if data["contracts"]|length + data["tryouts"]|length > 0 %}
        <h2>Contract History</h2>
        {% set idx = namespace(idx=0) %}
        {% if data["tryouts"]|length > 0 and data["tryouts"][0]["active"] %}
            {% with tryout = data["tryouts"][0] %}
                {% include "_tryout.html" %}
            {% endwith %}
            {% set idx.idx = idx.idx + 1 %}
        {% endif %}

        {% for contract in data["contracts"] %}
        {% include "_person_contract.html" %}
        {% set idx.idx = idx.idx + 1 %}
        {% endfor %}

        {% if data["tryouts"]|length == 1 and not data["tryouts"][0]["active"] %}
        <h2>Professional Tryouts</h2>
        {% elif data["tryouts"]|length > 1 and data["tryouts"][0]["active"] %}
        <h2>Professional Tryouts</h2>
        {% endif %}
        {% for tryout in data["tryouts"] %}
            {% if not tryout["active"] %}
                {% include "_tryout.html" %}
                {% set idx.idx = idx.idx + 1 %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2>No recorded contracts</h2>
    {% endif %}
</div>

{% if data["ep_stats"] %}
    <h2>Player Stats</h2>
    <a
        target="_blank"
        href="//eliteprospects.com/player/{{ data['ep_id'] }}/{{ data['name'].lower().replace(' ', '-') }}"
    >EliteProspects Player Page</a>
    <br/>
    <br/>
    <label for="stats-league">League Selector</label>
    <select id="stats-league" value="">
        <option value="">-- None --</option>
    </select>
    <br/>
    <div class="stats scrollable-table">
        {{ data["ep_stats"] | safe }}
    </div>
    <script src="{{ url_for('static', filename='js/league_filter.js') }}"></script>
{% endif %}

{% with table="person", record=data["id"] %}
    {% include "_notes.html" %}
{% endwith %}

<script src="{{ url_for('static', filename='js/edit_buttons.js') }}"></script>

{% endblock %}
