{% extends "base.html" %}

{% block content %}
    <h2>Qualifying Offers</h2>

    <ul>
        <li>Qualifying offers are submitted so an RFA's prior team may retain the Right of First Refusal or Draft Choice Compensation over that player</li>
        <li>A qualifying offer must be tendered by 5PM Eastern Time on the later of the 25th June or the Monday after the NHL Entry Draft.</li>
        <li>The offer may not be accepted prior to the 1st July and expires on the 15th July.</li>
        <li>Offer expiration may be extended by the team to a new calendar date in writing up to the original expiration</li> 

    <li>A qualifying offer's minimum salary is:
    <ul>
        <li>110% the previous year's base NHL salary if that was under $660,000</li>
        <li>105% the previous year's base NHL salary if between $660,000 and $1,000,000</li>
        <li>100% the previous year's base NHL salary if that was at least $1,000,000</li>
        <li>For contracts signed after 10 July 2020, the overriding upper limit is 120% the previous contract's AAV</li>
    </ul>
    </li>

    <li>A qualifying offer must be one way if the player:
    <ul>
        <li>Has played 180 games over the past three NHL seasons (for goalies, dressing as the backup counts)</li>
        <li>Has played 60 games over the past NHL season (for goalies, dressing as the backup counts)</li>
        <li>Has not cleared waivers during the prior season from the start of training camp to the end of the team's season</li>
    </ul>
    </li>

    <li>Finally, qualifying offers cannot be accepted prior to the 1st July and expire on the 15th of July. A team may provide written notice up to the 15th of July extending that acceptance date to a new, fixed calendar date expiration.</li>
    </ul>

    <form action="" onsubmit="return false;" novalidate>
        {{ form.hidden_tag() }}
        <div class="data">
            <div class="adjacent">
                <div class="form-question">
                    <strong>{{ form.team.label }}</strong> <br/>
                    {{ form.team(size=33) }}
                    {% for error in form.team.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-question">
                    <strong>{{ form.person.label }}</strong> <br/>
                    {{ form.person(size=33) }}
                    {% for error in form.person.errors %}
                    <br/><span class="error">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div id="results">
            </div>
        </div>
        <div class="form-question">
            {{ form.submit() }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/qualifying_players.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qualifying_offer_details.js') }}"></script>
{% endblock %}
