{% extends "base.html" %}

{% block content %}
<h1>Search - "{{ data["search"] }}"</h1>

<form id="wide-search" method="get" action="{{ url_for('main.search_route') }}">
    {{ g.search_form.search(size=81) }}
</form>

{% if data["team"]|length > 0 %}
    {% with data=data["team"] %}
        {% include "_team_search.html" %}
    {% endwith %}
{% endif %}
{% if data["defunct_team"]|length > 0 %}
    {% with data=data["defunct_team"], section_title="Defunct Teams" %}
        {% include "_team_search.html" %}
    {% endwith %}
{% endif %}
{% if data["team"]|length + data["defunct_team"]|length == 0 %}
    <h3>No matching teams</h3>
{% endif %}

{% if data["person"]|length > 0 %}
    {% with data=data["person"] %}
        {% include "_person_search.html" %}
    {% endwith %}
{% else %}
    <h3>No matching people</h3>
{% endif %}

{% endblock %}
