{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
{% with title="Signings" %}
    {% include "_date_filter.html" %}
{% endwith %}
<form>
    <label class="form-question">
        <strong>Team Filter</strong>
        <select id="team-filter" value="">
            <option value=""></option>
            {% for team in data['teams'] %}
            <option value="{{team[0]}}">{{ team[1] }}</option>
            {% endfor %}
        </select>
    </label>
</form>
<div class="scrollable-table">
    <table id="signings">
        <thead>
        <tr>
            <td class="name">&nbsp;Name</td>
            <td class="age">Age</td>
            <td class="position">Position</td>
            <td class="team">Team</td>
            <td class="type">Type</td>
            <td class="years">Years</td>
            <td class="value align-right">Total Value</td>
            <td>Signed On</td>
        </tr>
        </thead>

        <tbody>
            {% for contract in data['signings'] %}
            <tr class="team_{{contract['team_id']}}">
                <td>&nbsp;<a href="{{ url_for('main.person_route', person_id=contract['person_name'].lower().replace(' ', '-') + '-' + contract['person_id']|string) }}">{{ contract['person_name'] }}</a></td>
                <td>{{ contract['age'] }}</td>
                <td>{{ contract['position'] }}</td>
                <td><a href="{{ url_for('main.team_route', team_id=contract['team'].lower()) }}">
                        <img class="logo" alt="{{ contract['team'] }} logo" src="{{ url_for('static', filename=contract['team_logo']) }}">
                    {{ contract['team'] }}
                </a></td>
                <td>
                    {% if contract['entry_level'] %}
                    Entry Level
                    {% elif contract['thirty_five_plus'] %}
                    Thirty-Five+
                    {% else %}
                    Standard
                    {% endif %}
                </td>
                <td>{{ contract['years'] }}</td>
                <td class="align-right">{{ "${:,}".format(contract['value']) }}</td>
                <td>{{ contract['signing_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<input id="load_contracts" type="button" value="Load More Signings">

 <script src="{{ url_for('static', filename='js/signings.js') }}"></script>

{% endblock %}
