{% extends "base.html" %}

{% block content %}
<h1>Site Progress</h1>
<p>Screenshots from site development.<br/>Click on a date or text to expand the images.</p>

<details>
    <summary>
        <strong>2021-04-23</strong>
        <p>Embedded SVG and image layout mishaps</p>
    </summary>
    <img class="large" alt="a failed svg embed" src="{{ url_for('static', filename='img/progress/embed-fail.png') }}"/>
    <br/>
    <img alt="color bleed between embedded SVG images" src="{{ url_for('static', filename='img/progress/color-bleed.png') }} "/>
    <br/>
    <img class="medium" alt="poorly arranged team logos" src="{{ url_for('static', filename='img/progress/team-chaos.png') }} "/>
</details>

<details>
    <summary>
        <strong>2021-04-26</strong>
        <p>A very early skeleton of a team's page</p>
    </summary>
    <img src="{{ url_for('static', filename='img/progress/early-devils.png') }}"/>
</details>

<details>
	<summary>
        <strong>2021-04-27</strong>
        <p>Originally, draft picks were indicated by a team's abbreviation. Teal ones were traded away.</p>
	</summary>
    <img alt="screenshot of draft picks on /team/njd" src="{{ url_for('static', filename='img/progress/draft-highlights.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2021-06-02</strong>
    	<p>The buyout details page hasn't changed</p>
	</summary>
    <img class="medium" alt="screenshot of a Nazem Kadri buyout during his Avalanche years" src="{{ url_for('static', filename='img/progress/buyout-results.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-02-06</strong>
    	<p>Draft page's team filter in action</p>
	</summary>
    <img alt="screenshot of a fake entry draft filtered down to Red Wings picks" src="{{ url_for('static', filename='img/progress/filter-draft.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-02-22</strong>
    	<p>Trade proposal input page</p>
	</summary>
    <img class="large" alt="screenshot of the trade proposal input page" src="{{ url_for('static', filename='img/progress/propose-trade.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-03-26</strong>
    	<p>No contracts but draft picks!</p>
	</summary>
    <img class="large" alt="screenshot of the Blackhawks' team page without many contracts" src="{{ url_for('static', filename='img/progress/hawks-empty.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-04-06</strong>
    	<p>The admin-side page to add a new person to the site.</p>
	</summary>
    <img class="medium" alt="screenshot of the person creation page" src="{{ url_for('static', filename='img/progress/create-person.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-04-08</strong>
    	<p>The contract creation page without any data</p>
	</summary>
    <img class="medium" alt="screenshot of the contract creation page" src="{{ url_for('static', filename='img/progress/create-contract-no-data.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-04-30</strong>
    	<p>The logo makes its first appearance</p>
	</summary>
    <img alt="The capsite header logo" src="{{ url_for('static', filename='img/progress/logo.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-05-02</strong>
    	<p>The admin side of the draft - ordering picks and selecting players.</p>
	</summary>
    <img class="medium" alt="screenshot of the admin draft page" src=" {{ url_for('static', filename='img/progress/admin-draft-page.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-05-31</strong>
    	<p>Shaded contracts are added</p>
	</summary>
    <img class="large" alt="screenshot of adam henrique's player page with shaded contracts" src="{{ url_for('static', filename='img/progress/shaded-contracts.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-06-08</strong>
    	<p>Playing with ways to indicate a terminated contract</p>
	</summary>
    <img alt="screenshot of a terminated contract on some players' page" src="{{ url_for('static', filename='img/progress/terminated-contract.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-06-18</strong>
    	<p>This is how the site looked right after inputting all contract and player data for folks who had an NHL deal in the 2021-2022 season (with bonus contract creation page).</p>
	</summary>
    <img class="large" alt="screenshot of Charlie McAvoy's player page in June 2022" src="{{ url_for('static', filename='img/progress/mcavoy-2022.png') }} "/>
    <img class="large" alt="screenshot of the Boston Bruins' team page in June 2022" src="{{ url_for('static', filename='img/progress/bruins-2022.png') }} "/>
    <img class="large" alt="screenshot of the contract creation page" src="{{ url_for('static', filename='img/progress/create-contract.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-07-05</strong>
    	<p>The original trade vizualization with three fake trades</p>
	</summary>
    <img class="large" alt="screenshot of three trades between the Jets, 'yotes, Rangers, and Jackets" src="{{ url_for('static', filename='img/progress/fake-trades.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-07-22</strong>
    	<p>Tomas Hertl and William Eklund's player pages immediately after adding player stats.</p>
	</summary>
    <img class="large" alt="screenshot of the William Eklund's player page in July 2022" src="{{ url_for('static', filename='img/progress/eklund-unstyled.png') }} "/>
    <img class="large" alt="screenshot of the Tomas Hertl's player page in July 2022" src="{{ url_for('static', filename='img/progress/hertl-with-stats.png') }} "/>
</details>

<details>
	<summary>
    	<strong>2022-08-21</strong>
    	<p>Bad data discovered. (If anybody finds more bad data, please let me know)</p>
	</summary>
    <img class="large" alt="screenshot of Kevin Labanc's player page in August 2022 showing two contracts for the same season" src="{{ url_for('static', filename='img/progress/labanc-bad-data.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-09-21</strong>
    	<p>The Sharks' logo, as seen just before replacing embedded SVGs with <code>img</code> tags. And a no-logo daily cap tracking page with data</p>
	</summary>
    <img class="large" alt="an image of the Sharks' daily cap tracking page with a hilariously huge misplacedsharks logo" src="{{ url_for('static', filename='img/progress/daily-cap-logo-issues.png') }}"/>
    <img class="large" alt="an image of the Sharks' daily cap tracking page with data and no logo" src="{{ url_for('static', filename='img/progress/daily-cap-no-logo.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-10-13</strong>
    	<p>Contracts' initial notes layout</p>
	</summary>
    <img class="medium" alt="an image of Alex Radulov's ELC noting that he returned to Russia after two years" src="{{ url_for('static', filename='img/progress/contract-with-notes.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-10-17</strong>
    	<p>The search page! It works with aliases! (Tim Stützle's aliases included) And teams!</p>
	</summary>
    <img class="medium" alt="an image of the search page looking for folks whose name contains 'strom' or 'ström'" src="{{ url_for('static', filename='img/progress/search.png') }}"/>
    <br/>
    <img alt="an image of Tim Stützle's aliases" src="{{ url_for('static', filename='img/progress/aliases.png') }}"/>
    <br/>
    <img class="medium" alt="an image of the search page looking for folks and teams whose name contains 'York'" src="{{ url_for('static', filename='img/progress/search-team-person.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2022-11-27</strong>
    	<p>A bad layout for some dense draft pick notes, and a better one below.</p>
	</summary>
    <img class="medium" alt="a too-dense set of draft pick notes for the top of the 2005 entry draft" src="{{ url_for('static', filename='img/progress/draft-notes-bad.png') }}"/>
    <img class="medium" alt="an easier to read set of draft pick notes for the top of the 2005 entry draft" src="{{ url_for('static', filename='img/progress/draft-notes-good.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2023-01-06</strong>
    	<p>Putting in all the historic entry drafts</p>
	</summary>
    <img class="medium" alt="the first round of the 1978 nhl entry draft" src="{{ url_for('static', filename='img/progress/draft-first-1978.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2023-03-23</strong>
    	<p>Creating actual homepage content</p>
	</summary>
    <img class="medium" alt="homepage content with teams' projected and accumulated cap hits" src="{{ url_for('static', filename='img/progress/homepage-teams.png') }}" />
</details>

<details>
	<summary>
    	<strong>2023-07-21</strong>
    	<p>Working from the old trade layout to a newer, more streamlined, better looking one.</p>
	</summary>
    <img class="medium" alt="The original trade layout" src="{{ url_for('static', filename='img/progress/new-trade-0.png') }}"/>
    <img class="medium" alt="Trying Chris' text and logo layout" src="{{ url_for('static', filename='img/progress/new-trade-1.png') }}"/>
    <img class="medium" alt="Abandoning reflected text in favor of identical blocks" src="{{ url_for('static', filename='img/progress/new-trade-2.png') }}"/>
    <img class="medium" alt="Leaving flexbox for a table to better align logos and words. An almost final layout" src="{{ url_for('static', filename='img/progress/new-trade-3.png') }}"/>
    <img class="medium" alt="The new trade layout. Same as above with some decoration" src="{{ url_for('static', filename='img/progress/new-trade-4.png') }}"/>
</details>

<details>
	<summary>
    	<strong>2023-07-26</strong>
    	<p>A mobile-optimized layout, checked on a phone with new font</p>
	</summary>
    <img alt="Mobile layout for Winnipeg ca. summer 2023" src="{{ url_for('static', filename='img/progress/mobile-team.jpg') }}"/>
    <img alt="Mobile layout for Brent Burns ca. summer 2023" src="{{ url_for('static', filename='img/progress/mobile-person.jpg') }}"/>
</details>

<details>
	<summary>
    	<strong>2023-09-16</strong>
    	<p>Added PTO records to site, team rosters, and player pages</p>
	</summary>
    <img
        alt="The part of Aaron Dell's player page showing is 2023-2024 PTO with the Columbus blue jackets"
        src="{{ url_for('static', filename='img/progress/pto-page.png') }}"
    />
</details>

<details>
	<summary>
    	<strong>2023-10-21</strong>
    	<p>Redesigned the contract input layout to be a little more compact with less scrolling needed</p>
	</summary>
    <img alt="Redesigned contract input page" src="{{ url_for('static', filename='img/progress/redesigned-contract-input.png') }}"/>
</details>

<details>
    <summary>
        <strong>2023-11-23</strong>
        <p>Created design for defunct team pages. It'll be useable as an "About" page for current teams in the future</p>
    </summary>
    <img alt="Team page for defunct teams" src="{{ url_for('static', filename='img/progress/first-defunct.png') }}"/>
{% endblock %}
