{% extends "base.html" %}

{% block content %}
<div class="teams">
{% for team in teams %}
    {% if logos %}
    <a class="team" href="{{ url_for('main.team_logo_page', team_id=team.abbreviation.lower()) }}">
    {% else %}
    <a class="team" href="{{ url_for('main.team_route', team_id=team.abbreviation.lower()) }}">
    {% endif %}
        <div class="team-logo">
                <img alt="{{team.name}} logo" src="{{ url_for('static', filename=team.logo) }}"> 
        </div>
                <h4>{{ team.name }}</h4>
    </a>
{% endfor %}
</div>
{% endblock %}
