{% extends "base.html" %}

{% block content %}
<h1>Tips</h1>

<p>
    There are some built-in features never explicitly mentioned.
    For anybody who doesn't want to read the source code, here are a few
</p>

<h2>Searching</h2>
<p>
    This website's search bar is stupid
    It only searches team names and person names.
    There are, however, three extra features: general mode, specific mode, and single-result redirect
    <br/>
    <strong>General Mode:</strong>
    You searched for "Nathan Smith".
    The website split that at the space and gave you everybody with "Nathan" or "Smith" in their name.
    <br/><a href="/search?search=nathan+smith" target="_blank">Check it out</a>
    <br/>
    <strong>Exact Mode:</strong>
    You searched for "Nathan Smith" with double quotes on either end.
    The website gave you results for everybody with "Nathan Smith" in their name.
    <br/><a href='/search?search="nathan+smith"' target="_blank">Check it out</a>
    <br/>
    <strong>Single-result redirect:</strong>
    If your search only gives you one result, you will be redirected to that page and skip the search page.
    <br/><a href='/search?search="patrick+marleau"' target="_blank">Check it out</a>
</p>

<h2>People Pages</h2>
<p>
    The URL for a person's page is built to be flexible.
    The website database requires every record to have an internal ID number, and that's the base URL for every player.
    That's kind of clunky and not human readable, so there's other options.
    We'll be using <a href="/person/11210" target="_blank">Patrick Marleau (/person/11210)</a> as our example player.
    This section's links open in new tabs automatically
</p>
<ul>
    <li>
        NHL IDs can be used as <code>/person/nhl:${NHL_ID}</code> for folks playing with the NHL's API:
        <a href="/person/nhl:8466139" target="_blank">Patrick Marleau (/person/nhl:8466139)</a>
    </li>
    <li>
        Elite Prospects ID can also be used as <code>/person/ep:${EP_ID}</code> for any players with an EliteProspects ID in the database.
        That translates to any player whose career stats show up on the player page:
        <a href="/person/ep:3671" target="_blank">Patrick Marleau (/person/ep:3671)</a>
    </li>
    <li>
        Player names followed by "-${SITE_ID}" are built in to give a more human-readable option that will also work when player names are duplicated. (There are three "Nathan Smith"s):
        <a href="/person/patrick-marleau-11210" target="_blank">Patrick Marleau (/person/patrick-marleau-11210)</a>
    </li>
    <li>
        If you have some of a player's name, you may also attempt to put what you know of their name into the URL, 
        and the site will redirect you to the search page.
        If there are players matching what you provided, you'll be redirected to an exact search.
        If there aren't, you'll be redirected to a general search.
        <br/>
        <strong>Exact:</strong> <a href="/person/marleau" target="_blank">Marleau (/person/marleau)</a><br/>
        <strong>Inexact:</strong> <a href="/person/clear-day" target="_blank">Clear Day (/person/clear-day)</a>
    </li>
</ul>

{% endblock %}
