{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
{% with title="Transactions" %}
    {% include "_date_filter.html" %}
{% endwith %}
<form>
    <label class="form-question">
        <strong>Team Filter</strong>
        <select id="team-filter" value="">
            <option value=""></option>
            {% for team in teams %}
            <option value="{{team[0]}}">{{ team[1] }}</option>
            {% endfor %}
        </select>
    </label>
    <label class="form-question">
        <strong>Transaction Type Filter</strong>
        <select id="type-filter" value="">
            <option value=""></option>
        </select>
    </label>
</form>
<div class="scrollable-table">
    <table>
        <thead>
        <tr class="head">
            <td>Date</td>
            <td>Team</td>
            <td>Player</td>
            <td>Transaction</td>
            <td>Notes</td>
        </tr>
        </thead>

        <tbody>
            {% include "_transaction_rows.html" %}
        </tbody>
    </table>
</div>

<input id="load_transactions" type="button" value="Load More Transactions">
<script src="{{ url_for('static', filename='js/transactions.js') }}"></script>

{% endblock %}
